<p>This information explains how your Sustainable Farming Incentive (<abbr title="Sustainable Farming Incentive">SFI</abbr>) standards agreement payment will be calculated, when you’ll be paid and what you must do to get paid.</p>

<h3 class="govuk-heading-m" id="how-your-payment-is-calculated">
    <span class="number">9.1 </span>How your payment is calculated</h3>

<p>The total annual payment for your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement is based on the number of hectares (<abbr title="hectares">ha</abbr>) of eligible land you enter into each level of a standard.</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Standard</th>
            <th class="govuk-table__header" scope="col">Level</th>
            <th class="govuk-table__header" scope="col">Total annual payment</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Arable and horticultural soils</td>
            <td class="govuk-table__cell">Introductory</td>
            <td class="govuk-table__cell">£22 per hectare</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Intermediate</td>
            <td class="govuk-table__cell">£40 per hectare</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Improved grassland soils</td>
            <td class="govuk-table__cell">Introductory</td>
            <td class="govuk-table__cell">£28 per hectare</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Intermediate</td>
            <td class="govuk-table__cell">£58 per hectare</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Moorland</td>
            <td class="govuk-table__cell">Introductory</td>
            <td class="govuk-table__cell">£10.30 per hectare</td>
        </tr>
    </tbody>
</table>

<p>Where relevant, your total annual payment may also include an additional payment for:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>the moorland standard (£265 per agreement per year)</li>
    <li>common land entered into a separate <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement (£6.15 per <abbr title="hectares">ha</abbr>)</li>
</ul>

<h3 class="govuk-heading-m" id="when-you-will-be-paid">
    <span class="number">9.2 </span>When you will be paid</h3>
<p>The total annual payment value is divided into 4 equal instalments and paid on a quarterly basis. The first quarterly payment will usually be made 3 months after the start date of your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement.</p>

<p><abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreements will not all start on a single date. The start date for your agreement will depend on when you submit your <abbr title="Sustainable Farming Incentive">SFI</abbr> application, how long it takes to process and how quickly you accept your agreement offer. Read more about <a href="how-a-sfi-standards-agreement-works#when-your-agreement-will-start" class="govuk-link">when your agreement will start</a>.</p>

<p>If you apply for <abbr title="Sustainable Farming Incentive">SFI</abbr> when applications open, your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement should start this autumn. In this case, your first quarterly payment should be made before the end of 2022.</p>

<p>Unlike other schemes, such as Countryside Stewardship, you don’t need to submit an annual revenue claim before you get paid. Your quarterly payments will usually be made automatically.</p>

<h3 class="govuk-heading-m" id="what-you-must-do-to-get-paid">
    <span class="number">9.3 </span>What you must do to get paid</h3>

<p>To get paid under your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, you must:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>complete the actions in the standards you have chosen for a full agreement year</li>
    <li>submit your annual declaration to confirm progress of your agreement</li>
    <li>supply evidence specified in the standards when we ask for it</li>
</ul>

<p>A full agreement year means each 12-month period from the start date of your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement.</p>

<p>If the levels of the standards or area of land in your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement are reduced, or it’s ended early, you may have to repay some or all of the money already paid to you. Read more about <a href="{{ anchor }}how-an-sfi-standards-agreement-works" class="govuk-link">requesting changes to your agreement</a>.</p>

<p>If you do not submit an annual declaration, your payments could be withheld. Read more about <a href="{{ anchor }}submit-annual-declaration" class="govuk-link">submitting an annual declaration</a>.</p>

<h3 class="govuk-heading-m" id="future-changes-to-actions-in-the-standards-and-payment-rates">
    <span class="number">9.4 </span>Future changes to actions in the standards and payment rates</h3>

<p>During your 3-year <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, the actions and payment rates for the standards you have chosen will not change, unless there are exceptional circumstances.</p>

<br />
