<p>This covers what you need to know to complete the actions in the moorland standard.</p>

<p>You only have to meet a requirement in this standard if the word ‘must’ is used. In this case, it’s part of your Sustainable Farming Incentive (<abbr title="Sustainable Farming Incentive">SFI</abbr>) standards agreement. The rest of the information is to help you, but you do not have to follow it.</p>

<p>You can understand what you’re agreeing to do by reading this information on the moorland standard, together with your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement document and its terms and conditions.</p>

<h3 class="govuk-heading-m" id="how-the-moorland-standard-will-improve-the-environment">
    <span class="number">14.1 </span>How the moorland standard will improve the environment</h3>

<p>Moorland soils and habitats provide a range of benefits to the public (public goods). These include:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>carbon storage, to offset the effects of climate change</li>
    <li>water storage and flow, to reduce the effects of flooding and drought</li>
    <li>biodiversity, to protect plants and wildlife</li>
    <li>heritage, to protect historic and archaeological features</li>
</ul>

<p>The introductory level of the moorland standard is focused on assessing moorland to identify:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>which of these benefits the moorland already provides</li>
    <li>opportunities to maintain or enhance these benefits</li>
</ul>

<h3 class="govuk-heading-m" id="eligible-land-for-the-moorland-standard">
    <span class="number">14.2 </span>Eligible land for the moorland standard</h3>

<p>You can only enter land into the moorland standard that:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>has an eligible ‘land cover’</li>
    <li>is an eligible ‘land type’</li>
</ul>

<h4 class="govuk-heading-s" id="land-cover-4">Land cover</h4>

<p>Each land parcel has one or more registered land covers. These identify what broad category the land is.</p>

<p>Common land is not shown on your digital maps. You can check the maps we have previously provided to you to check the land cover on the common land. When you apply for <abbr title="Sustainable Farming Incentive">SFI</abbr> on common land, you will be able to view the land parcels on a digital map as part of the application process. Before applications open, we’ll publish information on GOV.UK to help you apply on common land.</p>

<p>Read the information about <a href="#eligible-land-covers-and-land-types" class="govuk-link">which land covers are eligible for the moorland standard</a>.</p>

<p>If a land parcel has one or more of the land covers that are eligible for this standard, it will show as ‘available area’ in your <abbr title="Sustainable Farming Incentive">SFI</abbr> application. When you select this land parcel, its total available area is included in your <abbr title="Sustainable Farming Incentive">SFI</abbr> application. You cannot reduce it in your application.</p>

<p>A land parcel’s available area is only eligible for this standard if it is also an eligible land type.</p>

<h4 class="govuk-heading-s" id="land-type-4">Land type</h4>

<p>The land type describes the detailed use of a land parcel’s broad category of land cover.</p>

<p>You can enter a land parcel into this standard if its land type is moorland. This means it’s located above the moorland line.</p>

<p>You can check <a rel="external" href="https://magic.defra.gov.uk/MagicMap.aspx?chosenLayers=moorIndex,backdropDIndex,backdropIndex,europeIndex,vmlBWIndex,25kBWIndex,50kBWIndex,250kBWIndex,miniscaleBWIndex,baseIndex&amp;box=-1037291:0:1837291:1400000&amp;useDefaultbackgroundMapping=false" class="govuk-link">MAGIC</a> to find out if your land is above the moorland line.</p>

<p>The vegetation of these moorland areas will usually be:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>semi-natural moorland habitats including heathland, blanket bog, rough acid grasslands, rushy flushes, swamps, mires and bracken</li>
    <li>upland calcareous grassland</li>
</ul>

<p>If a land parcel is on both sides of the moorland line:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>where the majority of the land parcel’s area is above the moorland line, you can enter the total area of that land parcel into the moorland standard</li>
    <li>where the majority of the land parcel’s area is below the moorland line, the whole of that land parcel is not eligible for the moorland standard, but may be eligible for the arable and horticultural soils standard or improved grassland soils standards</li>
</ul>

<p>There are some areas of land located above the moorland line that you cannot enter into this standard. This includes:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>arable land</li>
    <li>farmyards</li>
    <li>permanent crops</li>
    <li>areas used for turf or peat production</li>
</ul>

<p>A lot of upland moorland is either:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>registered common land, with land owned by one of more parties and rights held by multiple commoners</li>
    <li>shared grazing where graziers have a legal right to graze but the land is not registered as common land</li>
</ul>

<p>Read more about the <a href="#commons-and-shared-grazing-land" class="govuk-link">eligibility requirements for common land and shared grazing</a>.</p>

<h3 class="govuk-heading-m" id="other-land-eligibility-schemes-to-consider">
    <span class="number">14.3 </span>Other land eligibility schemes to consider</h3>

<p>You should also consider the following land eligibility issues.</p>

<h5 class="govuk-heading-s" id="other-schemes-and-funding-sources">Other schemes and funding sources</h5>

<p>Land is eligible for this standard if it’s receiving Farming in Protected Landscapes (FIPL) funding or it’s in an existing scheme such as:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>Countryside Stewardship (<abbr title="Countryside Stewardship">CS</abbr>)</li>
    <li>Higher <abbr title="The level you have selected to deliver your chosen Standards to, as referenced in your Agreement Document and supplemented by the Scheme Information.">Level</abbr> Stewardship (<abbr title="Higher Level Stewardship">HLS</abbr>)</li>
</ul>

<p>This is because the introductory level of this standard only includes actions not already paid for under FIPL, <abbr title="Countryside Stewardship">CS</abbr> or <abbr title="Higher Level Stewardship">HLS</abbr>.</p>

<h5 class="govuk-heading-s" id="scheduled-monuments-historic-and-archaeological-features-4">Scheduled monuments, historic and archaeological features</h5>

<p>If you select a land parcel in your <abbr title="Sustainable Farming Incentive">SFI</abbr> application that contains a scheduled monument, historic or archaeological feature, you will be told that you must request a Sustainable Farming Incentive Historic Environment Farm Environment Record (<abbr title="Sustainable Farming Incentive">SFI</abbr> <abbr title="Historic Environment Farm Environment Record">HEFER</abbr>).</p>

<p>The <abbr title="Sustainable Farming Incentive">SFI</abbr> <abbr title="Historic Environment Farm Environment Record">HEFER</abbr> will tell you about any known historic and archaeological features on your land, including scheduled monuments. It will also tell you how they affect the actions you can take under the standards.</p>

<p>To request an <abbr title="Sustainable Farming Incentive">SFI</abbr> <abbr title="Historic Environment Farm Environment Record">HEFER</abbr>, you need to register on the <a rel="external" href="https://hefer-data.org.uk/" class="govuk-link"><abbr title="Historic Environment Farm Environment Record">HEFER</abbr> portal</a>. The <abbr title="Sustainable Farming Incentive">SFI</abbr> <abbr title="Historic Environment Farm Environment Record">HEFER</abbr> will be available when applications open. Once registered, you can request an <abbr title="Sustainable Farming Incentive">SFI</abbr> <abbr title="Historic Environment Farm Environment Record">HEFER</abbr> by entering your Single Business Identifier (<abbr title="Single Business Identifier">SBI</abbr>). You’ll then be sent an email when the <abbr title="Sustainable Farming Incentive">SFI</abbr> <abbr title="Historic Environment Farm Environment Record">HEFER</abbr> is available for you to download.</p>

<p>Before you enter land into an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, read more about:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <a rel="external" href="https://historicengland.org.uk/advice/planning/consents/smc" class="govuk-link">scheduled monuments</a>, as you may need consent from Historic England</li>
    <li>works in a <a rel="external" href="https://historicengland.org.uk/advice/hpg/consent/cac" class="govuk-link">conservation area</a> which may need consent from your local planning authority</li>
</ul>

<h5 class="govuk-heading-s" id="sites-of-special-scientific-interest-sssis-3">Sites of Special Scientific Interest (SSSIs)</h5>

<p><abbr title="Site of Special Scientific Interest">SSSI</abbr> land is eligible for the introductory level of the moorland standard.</p>

<p>While it is unlikely that the actions under the introductory level of the moorland standard will be listed operations requiring Natural England consent, it is your responsibility to check. If you intend to complete the actions by carrying out a listed operation within the boundary of the <abbr title="Site of Special Scientific Interest">SSSI</abbr>, you must <a href="https://www.gov.uk/government/publications/request-permission-for-works-or-an-activity-on-an-sssi" class="govuk-link">give notice to Natural England and get its consent</a> before you carry out any listed operations on the <abbr title="Site of Special Scientific Interest">SSSI</abbr> land.</p>

<p>You can find the listed operations requiring Natural England consent on your <abbr title="Site of Special Scientific Interest">SSSI</abbr> land by searching for the <abbr title="Site of Special Scientific Interest">SSSI</abbr> on the <a rel="external" href="https://designatedsites.naturalengland.org.uk/SiteSearch.aspx" class="govuk-link">designated sites system</a> (DSS). You can also find more information about <a href="https://www.gov.uk/guidance/protected-areas-sites-of-special-scientific-interest#get-consent-to-carry-out-operations-on-your-land" class="govuk-link">getting consent to carry out operations on <abbr title="Site of Special Scientific Interest">SSSI</abbr> land</a> on GOV.UK.</p>

<p>For more information, read <a href="https://www.gov.uk/guidance/check-regulatory-issues-and-consents-that-could-affect-an-sfi-standards-agreement#sites-of-special-scientific-interest-sssis" class="govuk-link">check regulatory issues and consents that could affect an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement</a>.</p>

<h3 class="govuk-heading-m" id="how-the-moorland-standard-works">
    <span class="number">14.4 </span>How the moorland standard works</h3>

<p>The moorland standard has a set of aims. You achieve these aims by completing the land actions for this standard. The details of the actions explain what you need to do, when to do it and each action’s aim.</p>

<p>If you enter a land parcel into the moorland standard, it cannot be selected for the other of the 2 standards available in 2022. In future, some standards will be compatible with each other, and you’ll be able to have a land parcel in more than one standard where this is the case.</p>

<h4 class="govuk-heading-s" id="different-levels-2">Different levels</h4>

<p>The moorland standard only has an introductory level. This level is focused on actions not already in <abbr title="Countryside Stewardship">CS</abbr> or <abbr title="Higher Level Stewardship">HLS</abbr>, with actions to assess the moorland and produce plans. <abbr title="Countryside Stewardship">CS</abbr> and <abbr title="Higher Level Stewardship">HLS</abbr> will continue to fund physical actions. This means you can combine <abbr title="Sustainable Farming Incentive">SFI</abbr>, <abbr title="Countryside Stewardship">CS</abbr> and <abbr title="Higher Level Stewardship">HLS</abbr> to provide an income source.</p>

<p>The introductory level of this standard will work alongside other schemes until 2024. There are a range of options available in <abbr title="Countryside Stewardship">CS</abbr> for moorland areas, as well as other funding sources, such as <a href="https://www.gov.uk/guidance/funding-for-farmers-in-protected-landscapes" class="govuk-link">Farming in Protected Landscapes</a>.</p>

<p>Intermediate and advanced levels of this standard will be added in the future. You’ll be able to upgrade your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement annually to increase levels for existing standards in your agreement.</p>

<h4 class="govuk-heading-s" id="payments-1">Payments</h4>

<p>The total annual payment you receive depends on the number of hectares (<abbr title="hectares">ha</abbr>) of eligible land you enter into each level.</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Level</th>
            <th class="govuk-table__header" scope="col">Total annual payment</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Introductory</td>
            <td class="govuk-table__cell">£10.30 per <abbr title="hectares">ha</abbr>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Additional moorland payment</td>
            <td class="govuk-table__cell">£265 per agreement</td>
        </tr>
    </tbody>
</table>

<p>You are paid for all the eligible hectares entered into the standard.</p>

<p>Read more information about <a href="#getting-paid" class="govuk-link">payments</a>.</p>

<h4 class="govuk-heading-s" id="when-to-complete-the-actions-2">When to complete the actions</h4>

<p>Once your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement starts, you should complete the actions in this standard, as explained in the details of the actions under ‘When to do it’.</p>

<h4 class="govuk-heading-s" id="checking-progress-of-your-sfi-standards-agreement-1">Checking progress of your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement</h4>

<p>If we check progress of your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, you’ll only be asked for evidence of what you’ve done to complete the action if it’s not clear that the aim has been achieved. The details of each action explain what evidence to keep.</p>

<p>Read the information on <a href="#checking-progress" class="govuk-link">checking progress of your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement</a>.</p>

<h3 class="govuk-heading-m" id="summary-of-the-actions-2">
    <span class="number">14.5 </span>Summary of the actions</h3>

<ul class="govuk-list govuk-list--bullet">
    <li>action 1: identify and record the soil and vegetation types and condition, and presence of historic and archaeological features</li>
    <li>action 2: assess the public goods the moorland is already providing</li>
    <li>action 3: identify opportunities to maintain or enhance the public goods provided by the moorland</li>
</ul>

<h4 class="govuk-heading-s" id="details-of-the-actions-2">Details of the actions</h4>

<p>This section gives details of the actions in the moorland standard.</p>

<h3 class="govuk-heading-m" id="action-1-survey-the-soil-vegetation-historic-and-archaeological-features">
    <span class="number">14.6 </span>Action 1: Survey the soil, vegetation, historic and archaeological features</h3>

<p>You must carry out a survey to identify, assess and record the soil, vegetation and historic and archaeological features across the moorland area entered into this standard.</p>

<p>To do this, you must divide the moorland area into blocks of around 10 <abbr title="hectares">ha</abbr> and select a sample point within each block that:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>is broadly representative of the main vegetation and soil types of the block</li>
    <li>can be accessed and surveyed safely</li>
</ul>

<p>For each sample point, you must identify, assess and record:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>soil types and condition, including the depth and wetness of any peat</li>
    <li>vegetation types and condition, including their height and structure</li>
    <li>the extent of bare ground</li>
</ul>

<p>You must also record the presence of historic and archaeological features. These will be identified on the <abbr title="Sustainable Farming Incentive">SFI</abbr> <abbr title="Historic Environment Farm Environment Record">HEFER</abbr> you request before you apply for <abbr title="Sustainable Farming Incentive">SFI</abbr>.</p>

<p>If you’ve previously done a survey of your moorland, you cannot use this survey to meet this action. However, you can use surveys and data produced by other organisations. For example, this could include Ordnance Survey maps and soil survey data.</p>

<h4 class="govuk-heading-s" id="when-to-do-it-8">When to do it</h4>

<p>In the first year of your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement you must identify, assess and record the required information for one sample in each 10 <abbr title="hectares">ha</abbr> block, across all the land entered into this standard.</p>

<p>In each subsequent year of your agreement, you must repeat this survey at a different sample point within each 10 <abbr title="hectares">ha</abbr> block. Try to do this at about the same time each year.</p>

<h4 class="govuk-heading-s" id="how-to-do-it-8">How to do it</h4>

<p>It’s up to you how you complete this action, but the survey must sample blocks of around 10 <abbr title="hectares">ha</abbr> and record the information explained in ‘What to do’.</p>

<p>You may find it helpful to read the guidance about <a href="https://www.gov.uk/guidance/how-to-do-the-actions-in-the-moorland-standard" class="govuk-link">how to survey your moorland</a>, but you do not have to follow it.</p>

<h4 class="govuk-heading-s" id="the-actions-aim-8">The action’s aim</h4>

<p>You must achieve the action’s aim. The aim is for you to have recorded, across the moorland entered into this standard:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>the soil types and their condition</li>
    <li>the vegetation types and their condition</li>
    <li>the presence of historic and archaeological features</li>
</ul>

<p>This will help you assess how your moorland contributes to providing public goods and identify opportunities to maintain and enhance them.</p>

<h4 class="govuk-heading-s" id="what-evidence-to-keep-8">What evidence to keep</h4>

<p>You must keep a record of your survey. You must supply this evidence when we ask for it.</p>

<h3 class="govuk-heading-m" id="action-2-identify-public-goods-the-moorland-provides">
    <span class="number">14.7 </span>Action 2: Identify public goods the moorland provides</h3>

<p>You must use the information you’ve collected for action 1 to identify and record public goods your moorland is providing. These public goods include:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>carbon storage</li>
    <li>water storage and flow</li>
    <li>biodiversity</li>
    <li>heritage</li>
</ul>

<h4 class="govuk-heading-s" id="when-to-do-it-9">When to do it</h4>

<p>You must use the survey of your moorland for action 1 to identify and record the public goods it provides. You must do this in the first year of your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement.</p>

<p>In subsequent years of your agreement, you must review this record and update it where required, based on further surveys completed for action 1.</p>

<h4 class="govuk-heading-s" id="how-to-do-it-9">How to do it</h4>

<p>It’s up to you how you complete this action.</p>

<p>Before applications open, we’ll publish guidance on GOV.UK about how to do this action. You may find it helpful to read this guidance, but you do not have to follow it.</p>

<h4 class="govuk-heading-s" id="the-actions-aim-9">The action’s aim</h4>

<p>You must achieve this action’s aim. The aim is for you to have assessed and recorded how the moorland entered into this standard is already providing public goods.</p>

<h4 class="govuk-heading-s" id="what-evidence-to-keep-9">What evidence to keep</h4>

<p>You must keep a written record of the public goods you’ve identified as already being provided by the moorland. You must supply this evidence when we ask for it.</p>

<h3 class="govuk-heading-m" id="action-3-identify-opportunities-to-maintain-or-enhance-the-public-goods-your-moorland-provides">
    <span class="number">14.8 </span>Action 3: Identify opportunities to maintain or enhance the public goods your moorland provides</h3>

<p>You must use the information collected for actions 1 and 2 to identify and record opportunities to maintain or enhance the public goods your moorland provides.</p>

<h4 class="govuk-heading-s" id="when-to-do-it-10">When to do it</h4>

<p>In the first year of your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, you must use the information collected for actions 1 and 2 to produce a record of opportunities to maintain and enhance the public goods your moorland provides.</p>

<p>In subsequent years of your agreement, you must review this record and update it where required, based on further information collected under actions 1 and 2.</p>

<h4 class="govuk-heading-s" id="how-to-do-it-10">How to do it</h4>

<p>It’s up to you how you complete this action.</p>

<p>You may find it helpful to read the guidance about <a href="https://www.gov.uk/guidance/how-to-do-the-actions-in-the-moorland-standard" class="govuk-link">how to identify opportunities to maintain or enhance public goods provided by your moorland</a>, but you do not have to follow it.</p>

<p>The introductory level of the moorland standard focuses on mapping and identifying opportunities to maintain and enhance the public benefits your moorland provides. In future, we expect that there will be funding available to help you carry out activities that maintain and enhance the public benefits provided by your moorland.</p>

<p>These activities are likely to be funded when intermediate and advanced levels are added to the moorland standard. Once these higher levels are available, you should not expect to remain in the introductory level for more than 3 years before upgrading to these higher levels.</p>

<p>You may also be able to apply to other funding sources to support these activities, including private sector schemes.</p>

<h4 class="govuk-heading-s" id="the-actions-aim-10">The action’s aim</h4>

<p>You must achieve this action’s aim. The aim is for you to have identified and recorded the opportunities to maintain or enhance the public goods provided by the moorland entered into this standard.</p>

<h4 class="govuk-heading-s" id="what-evidence-to-keep-10">What evidence to keep</h4>

<p>You must keep a written record of the opportunities you’ve identified to maintain or enhance public goods provided by your moorland. You must supply this evidence when we ask for it.</p>

<br />
