<p>The annual health and welfare review is part of the Sustainable Farming Incentive (<abbr title="Sustainable Farming Incentive">SFI</abbr>) offer in 2022.</p>

<p>We will start testing the first annual health and welfare reviews in summer 2022, and we’ll steadily increase these by invitation over the summer before opening to eligible keepers in autumn 2022.</p>

<p>Later this year, we will publish more information on GOV.UK about when applications will open and how to apply. This funding will be available for three years, after which we will review the situation.</p>

<p>Livestock keepers can get funding for a vet or vet-led team of your choice to visit your farm and carry out an annual review of your eligible livestock.  </p>

<p>The review sits alongside the environmental land management standards. You do not need to have an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement to be eligible to apply for the <abbr title="Sustainable Farming Incentive">SFI</abbr> annual health and welfare review. </p>

<p>This review is designed to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>reduce endemic diseases such as bovine viral disease (<abbr title="bovine viral disease">BVD</abbr>) in cattle, porcine reproductive and respiratory disease (<abbr title="porcine reproductive and respiratory disease">PRRS</abbr>) in pigs and resistance to parasite treatments in sheep</li>
    <li>improve the welfare of your animals</li>
    <li>increase productivity</li>
    <li>ensure your use of veterinary medicines and vaccines is appropriate</li>
    <li>be primarily for the farmer, and not used for inspections or compliance</li>
</ul>

<h4 class="govuk-heading-s" id="your-eligibilityto-apply-for-this-funding">Your eligibility to apply for this funding</h4>

<p>To be eligible to apply for funding under the <abbr title="Sustainable Farming Incentive">SFI</abbr> annual health and welfare review, your business, the Single Business Identifier (<abbr title="Single Business Identifier">SBI</abbr>) that’s applying, must be eligible for the Basic Payment Scheme (<abbr title="Basic Payment Scheme">BPS</abbr>). This means the <abbr title="Single Business Identifier">SBI</abbr> must have at least 5 <abbr title="hectares">ha</abbr> of <abbr title="Basic Payment Scheme">BPS</abbr> eligible land and 5 or more <abbr title="Basic Payment Scheme">BPS</abbr> entitlements on 16 May 2022.</p>

<p>The review will be made available to those not currently eligible for <abbr title="Basic Payment Scheme">BPS</abbr> as soon as possible, so a wider range of livestock keepers can apply for this funding.</p>

<p>If you meet this <abbr title="Basic Payment Scheme">BPS</abbr> eligibility requirement, you can apply for the annual health and welfare review if you’re a livestock keeper with more than any of the following:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>10 cattle</li>
    <li>20 sheep</li>
    <li>50 pigs</li>
</ul>

<p>These livestock must be registered in England.</p>

<p>If you have more than one species of livestock, such as cattle and sheep, and the number of livestock in each species exceeds the minimum threshold, you can have one review annually for each species.</p>

<p>If the livestock are kept at different geographical locations, you may be eligible for more than one annual review. More information about how this will work will be published on GOV.UK before applications open.</p>

<h4 class="govuk-heading-s" id="how-much-funding-you-can-apply-for">How much funding you can apply for</h4>

<p>There is a payment for each species. It is not a payment for each animal.</p>

<p>This payment will help you cover the costs for:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>the vet</li>
    <li>testing for endemic diseases and conditions</li>
    <li>your time</li>
</ul>

<p>The payment for each species is different. This is because the required testing for some species may take longer to do, and some results cost more to analyse.</p>

<p>You’ll be paid:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>£684 for a pig review</li>
    <li>£436 for a sheep review</li>
    <li>£522 for a beef cattle review</li>
    <li>£372 for a dairy cattle review</li>
</ul>

<h4 class="govuk-heading-s" id="what-the-review-will-include">What the review will include</h4>

<p>The review will require:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>2 to 3 hours of a vet and farmer’s time, looking at health and welfare in a way that meets the farmer’s and vet’s priorities for the farm</li>
    <li>a written report prepared by the vet with agreed recommendations and actions to improve the livestock’s health and welfare</li>
    <li>testing to industry standards for a priority endemic disease or condition, depending on species including <abbr title="bovine viral disease">BVD</abbr> in cattle, <abbr title="porcine reproductive and respiratory disease">PRRS</abbr> in pigs or to find out how effective the anthelmintic being used is in sheep</li>
    <li>the vet sharing some information relevant to the health and welfare of the farmer’s livestock, including test results, with us</li>
</ul>

<p>Optional areas may include:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>a check of your biosecurity measures and advice on improving them</li>
    <li>recommendations about medicines used on your farm including antibiotics and vaccinations</li>
    <li>advice on grants and sources of funding available</li>
</ul>

<h4 class="govuk-heading-s" id="how-the-review-will-be-completed-by-the-vet">How the review will be completed by the vet</h4>

<p>It is expected that each review will take between 2 to 3 hours of your, and the vet’s, time. This does not include the time taken to carry out the required testing for endemic diseases and conditions.</p>

<p>As part of the review, the vet will discuss with you your test results, and recommend actions you can take to improve health and welfare based on testing and their time on the farm.</p>

<h4 class="govuk-heading-s" id="what-happens-after-the-review">What happens after the review</h4>

<p>Once the vet has completed the review, they will provide you with a report that includes:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>the agreed priority recommendations and actions for you to improve the health and welfare of your livestock</li>
    <li>advice about how you can monitor your livestock in future to identify how things are changing throughout the year</li>
    <li>advice about how you can record data as part of the review</li>
    <li>information about where you can find further support</li>
</ul>

<p>This information will not be shared with us or used for any regulatory or site visit purposes.</p>

<p>The vet, or one of their team, will record some information about the review, including test results online. This information will be anonymised and stored securely. It will give us a better understanding of the health and welfare of the national herds and flock. It will not be used for site visits or other compliance checks.</p>

<p>We will publish more information on GOV.UK later this year about when applications will open and how to apply.</p>
