<p>The Rural Payments Agency (RPA) is responsible for administering <abbr title="Sustainable Farming Incentive">SFI</abbr>.</p>

<h3 class="govuk-heading-m" id="questions-about-sfi">
    <span class="number">16.1 </span>Questions about <abbr title="Sustainable Farming Incentive">SFI</abbr>
</h3>

<p>If you have any questions about <abbr title="Sustainable Farming Incentive">SFI</abbr>, fill in the query form (which will be published on GOV.UK before applications open) or email us at <a href="mailto:ruralpayments@defra.gov.uk" class="govuk-link">ruralpayments@defra.gov.uk</a>.</p>

<p>Use ‘Sustainable Farming Incentive’ in the subject header and include your Single Business Identifier (<abbr title="Single Business Identifier">SBI</abbr>).</p>

<p>You can also call or write.</p>

<p>Telephone: 03000 200 301</p>

<p>Monday to Friday 8.30am to 5pm, except bank holidays</p>

<p>By post:</p>

<div class="address">
    <div class="adr org fn">
        <p>

            PO Box 352
            <br>Worksop
            <br>S80 9FG
            <br>
        </p>
    </div>
</div>

<h3 class="govuk-heading-m" id="complaints-and-appeals">
    <span class="number">16.2 </span>Complaints and appeals</h3>

<p>Read how to <a href="https://www.gov.uk/government/organisations/rural-payments-agency/about/complaints-procedure" class="govuk-link">submit a complaint or appeal</a>.</p>
