<p>To enter into a Sustainable Farming Incentive (<abbr title="Sustainable Farming Incentive">SFI</abbr>) standards agreement, both you and your land must be eligible.</p>

<h3 class="govuk-heading-m" id="your-eligibility-to-apply-for-an-agreement">
    <span class="number">4.1 </span>Your eligibility to apply for an agreement</h3>

<p>To be eligible to apply for an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement in 2022 your business, the Single Business Identifier (<abbr title="Single Business Identifier">SBI</abbr>) that’s applying for <abbr title="Sustainable Farming Incentive">SFI</abbr>, must be eligible for the Basic Payment Scheme (<abbr title="Basic Payment Scheme">BPS</abbr>). This means the <abbr title="Single Business Identifier">SBI</abbr> must have at least 5 hectares (<abbr title="hectares">ha</abbr>) of <abbr title="Basic Payment Scheme">BPS</abbr> eligible land and 5 or more <abbr title="Basic Payment Scheme">BPS</abbr> entitlements on 16 May 2022.</p>

<p>The 5 <abbr title="hectares">ha</abbr> of <abbr title="Basic Payment Scheme">BPS</abbr> eligible land does not set a minimum eligible area for an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, as there is no minimum area.</p>

<p>Your business does not need to claim <abbr title="Basic Payment Scheme">BPS</abbr> in 2022 or to have received <abbr title="Basic Payment Scheme">BPS</abbr> payments in the past. This rule is simply to limit applicants to those who are eligible for <abbr title="Basic Payment Scheme">BPS</abbr>. This requirement will be removed in later years, so a wider range of farmers can apply for an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, but that’s unlikely to happen before 2024.</p>

<p>If you apply for a separate <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement on common land or an area of shared grazing, this <abbr title="Basic Payment Scheme">BPS</abbr> eligibility rule works differently. Read more information about <a href="#commons-and-shared-grazing-land" class="govuk-link">common land and shared grazing</a>.</p>

<h3 class="govuk-heading-m" id="your-lands-eligibility">
    <span class="number">4.2 </span>Your land’s eligibility</h3>

<p>A land parcel is eligible to be entered into an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement if:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>it is wholly located in England</li>
    <li>its registered land cover (shown on your digital maps in the Rural Payments service) and its land type are eligible for the standards you choose</li>
    <li>you will have management control of the land for the duration of your 3-year <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement</li>
</ul>

<p>You can choose which eligible land parcels to enter. You do not have to include all of your land parcels and there is no minimum or maximum area.</p>

<h3 class="govuk-heading-m" id="eligible-land-cover-and-type-of-land">
    <span class="number">4.3 </span>Eligible land cover and type of land</h3>

<p>You can only enter land into your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement that’s eligible for the standard you choose. This means it needs to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>have an eligible ‘land cover’</li>
    <li>be an eligible land type</li>
</ul>

<h4 class="govuk-heading-s" id="land-cover-1">Land cover</h4>
<p>Each land parcel has one or more registered land covers. These identify what broad category the land is. There are 4 categories of land cover:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>Arable Land</li>
    <li>Permanent Grassland</li>
    <li>Permanent Crops</li>
    <li>Other (non-agricultural)</li>
</ul>

<p>You can view the land cover currently registered for each land parcel outside a common on your digital maps in the <a href="../0/crn-sign-in" class="govuk-link">Rural Payments service</a>.</p>

<p>Common land is not shown on your digital maps. You can check the maps we have previously provided to you to check the land cover on the common land. When you apply for <abbr title="Sustainable Farming Incentive">SFI</abbr> on common land, you will be able to view the land parcels on a digital map as part of the application process. Before applications open, we’ll publish information on GOV.UK to help you apply on common land.</p>

<p>Certain identified land covers are eligible for each standard. You can find out which land covers are eligible for each of the standards in each of the standards.</p>

<p>The ‘available area’ for each land parcel is shown in your <abbr title="Sustainable Farming Incentive">SFI</abbr> application. This is based on the land cover currently registered that’s eligible for the standard you have chosen. When you select a land parcel, its total ‘available area’ is included in your <abbr title="Sustainable Farming Incentive">SFI</abbr> application. You cannot reduce this available area in your application.</p>

<p>For example, if you choose the arable and horticultural soils standard and select a 10 hectare (<abbr title="hectares">ha</abbr>) land parcel that has 8 <abbr title="hectares">ha</abbr> of Arable land cover and 2 <abbr title="hectares">ha</abbr> of ‘Other’ non-agricultural woodland land cover, the available area for this standard is 8 <abbr title="hectares">ha</abbr>. You can only include this 8 <abbr title="hectares">ha</abbr> in your <abbr title="Sustainable Farming Incentive">SFI</abbr> application. You cannot reduce it to 7 <abbr title="hectares">ha</abbr>.</p>

<h4 class="govuk-heading-s" id="land-type-1">Land type</h4>

<p>The land type describes the detailed use of the broad category of land cover. For example, different types of grassland or arable crop types.</p>

<p>A land parcel with an eligible land cover for the standard you choose must also be a land type that’s eligible for that standard. This means its total ‘available area’ shown in your <abbr title="Sustainable Farming Incentive">SFI</abbr> application must be an eligible land type.</p>

<p>For example, if you choose the improved grassland soils standard, the land parcel must be improved grassland.</p>

<p>This is explained under ‘Eligible land’ in the information on each standard. You can also read more information about <a href="#check-you-and-your-land-are-eligible-for-an-sfi-standards-agreement" class="govuk-link">eligible land covers and land types</a>.</p>

<h3 class="govuk-heading-m" id="management-control-of-land">
    <span class="number">4.4 </span>Management control of land</h3>

<p>To enter land into an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement you must have management control of that land for the 3-year duration of the agreement.</p>

<p>You will have management control if you have sufficient control over how the land is managed to complete the actions in the standards chosen, for the duration of the <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement. This will usually mean you’re the person actively farming the land who is:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>the owner occupier, farming the land yourself or employing a contractor</li>
    <li>a tenant with a Farm Business Tenancy (FBT) under the Agricultural Tenancies Act 1995, or an Agricultural Holdings Act 1986 tenancy</li>
    <li>in a group that farms on common land (including areas of shared grazing)</li>
</ul>

<p>When you enter land into an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, you declare that you will have management control of that land for the agreement’s 3-year duration. You must supply evidence to show this if we ask for it.</p>

<p>The following information explains what management control means for tenants, licensors and commoners.</p>

<h4 class="govuk-heading-s" id="management-control-of-tenanted-land">Management control of tenanted land</h4>

<p>Only a tenant can enter land occupied under a tenancy into an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement. This is because they’re the person actively farming the land, not the landlord.</p>

<p>As a tenant, it’s your responsibility to check whether your tenancy agreement allows you to complete the actions in the standards you select.</p>

<p>If you occupy land under a tenancy on a ‘rolling’ year-by-year basis, you can only enter this land into your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement if you expect to have management control of that land for its 3-year duration. For example, this may be the case if you occupy land under:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>an FBT granted for a term of more than 2 years, that continues on a rolling year-by-year basis after its initial term ends</li>
    <li>an FBT granted for a term of 2 years or less that you expect your landlord to renew on an annual basis</li>
</ul>

<p>You must not enter land into your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement if you do not expect to have management control of that land for its 3-year duration.</p>

<p>If you’re unsure whether you will have management control of the land occupied under a tenancy for the 3-year duration of your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, you should check with your landlord.</p>

<p>If you unexpectedly lose management control of the land occupied under a tenancy during your 3-year <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, you must tell us as soon as reasonably practicable. We will remove that land from your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement.</p>

<p>If your loss of management control was because of a change of circumstances, you may not have to repay payments already received.</p>

<p>For more information, read about <a href="#checking-progress" class="govuk-link">what happens if you cannot deliver your agreement, or your circumstances change</a>.</p>

<h4 class="govuk-heading-s" id="management-control-of-land-you-access-under-a-licence">Management control of land you access under a licence</h4>

<p>If you only have access to land under a licence arrangement (so you’re a licensee), it’s unlikely you have sufficient management control of that land to complete the actions in the standards.</p>

<p>In this case, the licensor (usually the owner occupier) could enter the land into an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement and make the licensee aware of its requirements, if relevant.</p>

<p>If in practice your arrangement with the landowner gives you wider land management responsibilities, similar to those of a tenant, you may be able to enter this land into an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement. For example, some licences on Ministry of Defence land operate in this way. If this applies, you should refer to the information on tenanted land above.</p>

<h4 class="govuk-heading-s" id="management-control-on-commons-and-shared-grazing-land">Management control on commons and shared grazing land</h4>

<p>Read about how the management control rule applies for <a href="#commons-and-shared-grazing-land" class="govuk-link">commoners and shared graziers</a>.</p>

<h3 class="govuk-heading-m" id="other-land-eligibility-issues-to-consider">
    <span class="number">4.5 </span>Other land eligibility issues to consider</h3>

<p>You should also consider the following land eligibility issues.</p>

<h4 class="govuk-heading-s" id="land-in-another-agri-environment-scheme-agreement">Land in another agri-environment scheme agreement</h4>

<p>Land in an existing agri-environment scheme agreement, such as Countryside Stewardship, may also be eligible for an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement if:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>you and your land are eligible for each scheme</li>
    <li>the activities you’re being paid for under each scheme are compatible</li>
    <li>you are not being paid twice for a similar activity or outcome on the same area of land at the same time (known as ‘double funding’)</li>
</ul>

<p>Read the information about <a href="#how-an-sfi-standards-agreement-interacts-with-other-funding-schemes" class="govuk-link">the interaction between <abbr title="Sustainable Farming Incentive">SFI</abbr> with other schemes</a>.</p>

<h4 class="govuk-heading-s" id="scheduled-monuments-historic-and-archaeological-features">Scheduled monuments, historic and archaeological features</h4>

<p>If you select a land parcel in your <abbr title="Sustainable Farming Incentive">SFI</abbr> application that contains a scheduled monument, historic or archaeological feature, you will be told that you must request a Sustainable Farming Incentive Historic Environment Farm Environment Record (<abbr title="Sustainable Farming Incentive">SFI</abbr> <abbr title="Historic Environment Farm Environment Record">HEFER</abbr>).</p>

<p>The <abbr title="Sustainable Farming Incentive">SFI</abbr> <abbr title="Historic Environment Farm Environment Record">HEFER</abbr> will tell you about any known historic and archaeological features on your land, including scheduled monuments. It will also tell you how they affect the actions you can take under the standards.</p>

<p>Read the information about <a href="#check-regulatory-issues-and-consents" class="govuk-link">regulatory issues and consents</a> to find out how to request an <abbr title="Sustainable Farming Incentive">SFI</abbr> <abbr title="Historic Environment Farm Environment Record">HEFER</abbr>.</p>

<h4 class="govuk-heading-s" id="sites-of-special-scientific-interest-sssis">Sites of Special Scientific Interest (SSSIs)</h4>

<p>Land designated as an <abbr title="Site of Special Scientific Interest">SSSI</abbr> is eligible for the standards available in 2022, but you may need consent from Natural England. This depends on which standard you’re applying for.</p>

<p>You must <a href="https://www.gov.uk/government/publications/request-permission-for-works-or-an-activity-on-an-sssi" class="govuk-link">give notice to Natural England and get its consent</a> before you carry out any listed operations requiring Natural England consent (ORNEC) on <abbr title="Site of Special Scientific Interest">SSSI</abbr> land. You are responsible for making sure that you have complied with the consenting requirements set out in the Wildlife and Countryside Act 1981 before you carry out any operations. If you don’t, you may be committing an offence.</p>

<br />
