<p>A standard is a group of land management actions with a set of aims. By completing the actions in the standard, you should achieve its aims.</p>

<h3 class="govuk-heading-m" id="the-standards-available-in-2022">
    <span class="number">11.1 </span>The standards available in 2022</h3>

<p>In 2022, there are 3 standards available in the Sustainable Farming Incentive (<abbr title="Sustainable Farming Incentive">SFI</abbr>):</p>

<ul class="govuk-list govuk-list--bullet">
    <li><a href="the-sfi-arable-and-horticultural-soils-standard" class="govuk-link">arable and horticultural soils</a></li>
    <li><a href="the-sfi-improved-grassland-soils-standard" class="govuk-link">improved grassland soils</a></li>
    <li><a href="the-sfi-moorland-standard" class="govuk-link">moorland</a></li>
</ul>

<p>You can only enter a land parcel into one of these 3 standards. In future, standards will be designed to be compatible with each other. You will be able to have a land parcel in more than one standard where this is the case.</p>

<p>You may already be doing some of these actions on your land. If this is the case, these will usually count towards achieving the standard’s aims.</p>

<p>You will not be paid for actions you are already required to do by law.</p>

<h3 class="govuk-heading-m" id="the-levels-available-in-each-standard-in-2022">
    <span class="number">11.2 </span>The levels available in each standard in 2022</h3>

<p>The actions in each standard are grouped into levels. The information for each standard explains what is required at each level and how to achieve its aims.</p>

<p>If you choose a higher level, you have to do more actions and you will be paid more.</p>

<p>The levels you can choose in 2022 are:</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Standard</th>
            <th class="govuk-table__header" scope="col">Level</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Arable and horticultural soils</td>
            <td class="govuk-table__cell">Introductory</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Intermediate</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Improved grassland soils</td>
            <td class="govuk-table__cell">Introductory</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Intermediate</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Moorland</td>
            <td class="govuk-table__cell">Introductory</td>
        </tr>
    </tbody>
</table>

<p>Each land parcel can only be in one level, but you don’t have to choose the same level for all the land parcels entered into a standard. For example, you can select one land parcel for the introductory level and another land parcel for the intermediate level.</p>

<p>By 2025, these standards will all have 3 levels:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>introductory</li>
    <li>intermediate</li>
    <li>advanced</li>
</ul>

<h3 class="govuk-heading-m" id="future-standards-and-levels">
    <span class="number">11.3 </span>Future standards and levels</h3>

<p>The <abbr title="Sustainable Farming Incentive">SFI</abbr> will expand each year, with the full set of standards in place by 2025.</p>

<p>Along with a wider range of standards, higher levels for existing standards will be added between now and 2025.</p>

<p>You can upgrade your agreement every 12 months from its start date. This will allow you to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>add more standards</li>
    <li>increase levels within standards already in your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement</li>
    <li>add more land, including land coming out of a Countryside Stewardship agreement when it ends</li>
</ul>

<p>This means that each year there will be more you can choose to do and you’ll get paid more as a result.</p>

<p>You will not usually be able to remove standards, reduce levels for existing standards or remove land from your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement.</p>

<p>Read more information about <a href="{{ anchor }}how-an-sfi-standards-agreement-works" class="govuk-link">requesting changes to your agreement</a>.</p>

<p>The current proposals for new standards and additional levels are:</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Year</th>
            <th class="govuk-table__header" scope="col">Indicative standards and levels</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">2023</td>
            <td class="govuk-table__cell">Nutrient management standard</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Integrated pest management standard</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Hedgerows standard</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Advanced levels of the 2 soils standards</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">2024</td>
            <td class="govuk-table__cell">Agroforestry standard</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Low and no input grassland standard</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Water body buffering standard</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Farmland biodiversity standard</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Intermediate and advanced levels of the moorland standard</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">2025</td>
            <td class="govuk-table__cell">Organic standard</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">On-farm woodland standard</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Orchards and specialist horticulture standard</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Heritage standard</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Dry stone walls standard</td>
        </tr>
    </tbody>
</table>

<p>These new standards and additional levels are only an indication of what may be introduced. They may be changed based on feedback from farmers and others.</p>

<p>In the future, we will continue to evaluate the success of <abbr title="Sustainable Farming Incentive">SFI</abbr> as the scheme develops. We may make changes to standards and levels, where necessary, to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>ensure there is value for public money</li>
    <li>secure the right outcomes for the environment</li>
    <li>take account of new or amended regulations</li>
    <li>avoid duplication, for example with private sector funding or accreditation schemes</li>
</ul>

<p>If we change standards or levels, these changes will only apply to land being entered into the standard or level for the first time or when an existing <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement is renewed at the end of its 3-year duration.</p>

<br />
