<p id="how-to-arable-soils">This ‘How to’ guide gives advice about how you could complete the actions in this standard. You may find it helpful to read this guide, but you don’t have to follow it. It covers how to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>complete a soil assessment and produce a soil management plan</p>
    </li>
    <li>
        <p>test soil organic matter</p>
    </li>
    <li>
        <p>add organic matter</p>
    </li>
    <li>
        <p>establish green cover over winter</p>
    </li>
</ul>

<h3 class="govuk-heading-m" id="action-1-complete-a-soil-assessment-and-produce-a-soil-management-plan-2">
    <span class="number">17.1 </span>Action 1: Complete a soil assessment and produce a soil management plan</h3>

<p>To complete a soil assessment, you’ll usually need to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>assess soil type, texture, structure and biology</p>
    </li>
    <li>
        <p>assess risks to your soil</p>
    </li>
    <li>
        <p>identify historic features</p>
    </li>
</ul>

<p>Try to assess the soil and take soil samples when it is not too dry or wet. Spring or autumn are usually the best time of year to complete a soil assessment.</p>

<h4 class="govuk-heading-s" id="assess-soil-type-structure-and-biology">Assess soil type, structure and biology</h4>

<p>The main soil types are:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>sand</p>
    </li>
    <li>
        <p>silt</p>
    </li>
    <li>
        <p>clay</p>
    </li>
    <li>
        <p>loam</p>
    </li>
    <li>
        <p>chalk</p>
    </li>
    <li>
        <p>peat</p>
    </li>
</ul>

<p>You can find out more about these soil types in the Agriculture and Horticulture Development Board (AHDB) information about the <a rel="external" href="https://ahdb.org.uk/knowledge-library/characteristics-different-soils" class="govuk-link">characteristics of different soils</a>.</p>

<p>To check the soil type, you can search for your location in the <a rel="external" href="http://www.landis.org.uk/soilscapes/" class="govuk-link">Soilscapes soil types viewer</a> produced by the National Soil Resources Institute of Cranfield University.</p>

<h4 class="govuk-heading-s" id="soil-texture">Soil texture</h4>

<p>Soil texture depends on the mix of sand, silt and clay in the soil.</p>

<p>You can <a rel="external" href="http://publications.naturalengland.org.uk/publication/32016?category=9001" class="govuk-link">read Natural England’s Technical Information Note about soil texture</a>, which includes the main soil texture types and what you’re likely to feel and see for each texture class.</p>

<h4 class="govuk-heading-s" id="soil-structure-and-compaction">Soil structure and compaction</h4>

<p>Soil structure affects how air and water move in the soil and how well crops and grass can grow.</p>

<p>You can choose how you assess soil structure. To do this, you can:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>look at the soil surface to assess the quality of the crop or grass sward and identify areas where there may be soil structure issues</p>
    </li>
    <li>
        <p>take a soil sample by digging out a block of soil to a depth of around 30cm (12 inches)</p>
    </li>
    <li>
        <p>score the soil sample by visually assessing it</p>
    </li>
</ul>

<p>You can read:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>the Environment Agency’s ‘think soils’ guide to <a rel="external" href="https://projectblue.blob.core.windows.net/media/Default/Imported%20Publication%20Docs/ThinkSoils.pdf#page=50" class="govuk-link">identifying soil structural problems in the field</a>
    </li>
    <li>the <a rel="external" href="https://bbro.co.uk/media/50172/vess_score_chart-1.pdf" class="govuk-link">SRUC Visual Evaluation of Soil Structure (VESS) chart</a> to help with a visual assessment</li>
</ul>

<p>It may save time if you assess soil structure when you <a href="#test-som" class="govuk-link">test soil organic matter</a></p>

<h4 class="govuk-heading-s" id="soil-biology">Soil biology</h4>

<p>Soil biology includes the presence of earthworms and other visible creatures, soil organic matter and microorganisms.</p>

<p>You can use a soil sample to count earthworms and other visible creatures, such as millipedes and spiders. To do this, you can use the same soil samples taken to assess soil structure and soil organic matter (action 2) or dig another pit.</p>

<p>The soil organic matter testing you do under action 2 will tell you about the soil organic matter.</p>

<p>Microorganisms can be quite difficult to assess yourself, but if you’d like to find out more you can ask a commercial laboratory to test soil samples for this.</p>

<p>To find out more about soil biology, you can read the AHDB factsheet: <a rel="external" href="https://projectblue.blob.core.windows.net/media/Default/Imported%20Publication%20Docs/IntroSoiBiology_WEB2074_280219.pdf" class="govuk-link">An introduction to Soil Biology</a>.</p>

<h3 class="govuk-heading-m" id="assess-risks-relating-to-soil">
    <span class="number">17.2 </span>Assess risks relating to soil</h3>

<p>You can assess the risks relating to soil from:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>runoff or soil erosion, including connection to water bodies or sensitive habitats</p>
    </li>
    <li>
        <p>wind erosion</p>
    </li>
    <li>
        <p>nitrogen leaching</p>
    </li>
</ul>

<p>Once you’ve assessed these risks you can make an overall assessment of the risk for your land.</p>

<p>You can follow the steps below to assess risks to your soil.</p>

<h4 class="govuk-heading-s" id="step-1-risk-of-runoff-and-soil-erosion">Step 1: Risk of runoff and soil erosion</h4>

<p>Runoff occurs when there is more water than land can absorb, meaning that water drains away directly over the surface of land. This can carry fine soil particles, nutrients, pesticides and manures to water bodies, such as ponds, lakes, ditches, stream and rivers. This can cause pollution and potentially harm animals and plants that live in the water bodies.</p>

<p>Runoff can wash material directly from a land parcel into a water body. It can also travel in other ways, such as:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>through yards</p>
    </li>
    <li>
        <p>along tracks or roads</p>
    </li>
    <li>
        <p>via field drains</p>
    </li>
</ul>

<p>To assess the risk of runoff and soil erosion, you can consider:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>the gradient of a slope - steeper slopes have a greater risk of runoff and soil erosion as water runs more quickly over the surface</p>
    </li>
    <li>
        <p>how long a slope is</p>
    </li>
    <li>
        <p>soil texture - this affects whether rain soaks into the soil or runs over the surface, and how easily soil particles will be washed away</p>
    </li>
    <li>
        <p>how often the land floods - it is more susceptible to erosion and runoff if it floods frequently</p>
    </li>
    <li>
        <p>how close the land is to a water body</p>
    </li>
</ul>

<h4 class="govuk-heading-s" id="step-1a-assess-the-gradient-of-the-slope">Step 1a: Assess the gradient of the slope</h4>

<p>You can choose how to measure the gradient of a slope. For example, you could use a clinometer.</p>

<p>The risk of runoff is:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>high for steep slopes - these are slopes with an angle of 7 degrees or more (12%+ gradient)</p>
    </li>
    <li>
        <p>moderate for moderate slopes - slopes with an angle of 3-7 degrees (5-12% gradient)</p>
    </li>
    <li>
        <p>lower for gentle slopes - slopes with an angle of 2-3 degrees (3-5% gradient)</p>
    </li>
</ul>

<h4 class="govuk-heading-s" id="step-1b-assess-other-runoff-and-erosion-factors">Step 1b: Assess other runoff and erosion factors</h4>

<p>After you’ve assessed the risk of runoff for each land parcel based on the gradient of the slope, you can adjust the runoff and erosion risk assessment to reflect:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>slope length</p>
    </li>
    <li>
        <p>soil texture</p>
    </li>
    <li>
        <p>flooding frequency</p>
    </li>
    <li>
        <p>history of runoff or ponding</p>
    </li>
</ul>

<p>For example, lighter soils on moderate slopes have a high risk of runoff. Land that regularly floods (at least once every 3 years) has a high risk of erosion or runoff.</p>

<h4 class="govuk-heading-s" id="step-1c-assess-how-close-land-is-to-water">Step 1c: Assess how close land is to water</h4>

<p>The risk of runoff may be less significant if the land parcel is not close or well connected to a water body, such as a pond, lake, ditch, stream or river. You can assess the risk of runoff based on how close the land parcel is to a water body.</p>

<p>The risk of runoff is:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>high – if the land parcel you’re assessing is directly next to a water body</p>
    </li>
    <li>
        <p>moderate – if the land parcel is separated from a water body by at least one other land parcel</p>
    </li>
    <li>
        <p>lower – if the land parcel is some distance for land from a water body</p>
    </li>
</ul>

<h4 class="govuk-heading-s" id="step-1d-risk-based-on-history-of-runoff-or-ponding">Step 1d: risk based on history of runoff or ponding</h4>

<p>You can then refine the risk assessment for each land parcel based on the history of runoff and ponding. The risk of runoff is:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>high - if visible runoff and ponding happens to the land you’re assessing in most years during wet periods</p>
    </li>
    <li>
        <p>moderate - if visible runoff happens in most years during wet periods</p>
    </li>
    <li>
        <p>lower - if runoff happens occasionally during wet periods</p>
    </li>
</ul>

<h4 class="govuk-heading-s" id="step-1e-refine-your-risk-of-runoff-and-soil-erosion">Step 1e: refine your risk of runoff and soil erosion</h4>

<p>Once you’ve considered the risks above, you can use your experience and judgement to adjust the level of risk for each land parcel, taking into account additional factors such as:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>soil structure</p>
    </li>
    <li>
        <p>organic matter content - higher organic content usually increases the ability of soil to absorb water</p>
    </li>
    <li>
        <p>valley features, as they tend to concentrate runoff water</p>
    </li>
    <li>
        <p>long unbroken slopes</p>
    </li>
    <li>
        <p>land use</p>
    </li>
</ul>

<h4 class="govuk-heading-s" id="step-2-risk-of-wind-erosion">Step 2: Risk of wind erosion</h4>

<p>Wind erosion is most likely on fine sandy soils and light peaty soils. It will be worse in dry conditions or where there is drainage, bare land or fine dry seedbeds.</p>

<p>Signs of wind erosion include drifting soil, buried seedlings, and soil blown into hedgerows, ditches and onto nearby roads.</p>

<p>If there are fine sandy soils or light peaty soils and wind erosion occurs at least once every 3 years, identify this area as high risk in your soil assessment. If there are chalk or limestone soils, the risk is likely to be moderate. Other soil types are likely to be lower risk.</p>

<h4 class="govuk-heading-s" id="step-3-risk-of-nitrogen-leaching">Step 3: Risk of nitrogen leaching</h4>

<p>Light sandy and shallow soils are less able to store nitrogen. It can be easily lost as water filters through the soil. If you have land parcels with this type of soil where you add nitrogen-based fertilisers, identify this as being at risk of nitrogen leaching.</p>

<h4 class="govuk-heading-s" id="step-4-make-an-overall-risk-assessment">Step 4: Make an overall risk assessment</h4>

<p>Once you’ve assessed all the risks above, and made any adjustments you judge are relevant, you can make your overall risk assessment for your land. You can do this by classifying the overall risks as very high, high, moderate or lower. For example:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>if there are a number of high risks, it’s likely to be an overall very high risk</p>
    </li>
    <li>
        <p>if there are some high risks, some mediums and a few lower risks, it’s likely to be an overall high risk</p>
    </li>
    <li>
        <p>if there are mainly medium and lower risks, it’s likely to be an overall medium risk</p>
    </li>
    <li>
        <p>If there are mainly lower risks, it’s likely to be an overall lower risk</p>
    </li>
</ul>

<h3 class="govuk-heading-m" id="how-to-produce-a-soil-management-plan">
    <span class="number">17.3 </span>How to produce a soil management plan</h3>

<p>You can use your soil assessment to record information in your soil management plan. This will help you plan how to manage your land parcels to improve soil health and reduce the risks you identified in your soil assessment.</p>

<h4 class="govuk-heading-s" id="information-you-can-record-in-the-soil-management-plan">Information you can record in the soil management plan</h4>

<p>You can record information in your plan for each land parcel or area where the soils and slopes differ, as identified during your soil assessment. The information you record in your soil management plan could include:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>soil type, structure and composition</p>
    </li>
    <li>
        <p>risks and problems that need to be addressed</p>
    </li>
    <li>
        <p>how you currently manage the area</p>
    </li>
    <li>
        <p>proposed management actions to improve soil health</p>
    </li>
</ul>

<p>Championing the Farmed Environment (CFE) has produced <a rel="external" href="https://www.cfeonline.org.uk/environmental-management/soils/uk-soil-health-initiative-guides/" class="govuk-link">some helpful guides about managing soils for a range of farming systems</a> which may help with your proposed management actions to improve soil health.</p>

<p>If you have land with known historic or archaeological features, you can record these in your plan. This will inform how you manage land above and around these features.</p>

<p>You can find out about any known historic or archaeological features when you apply for <abbr title="Sustainable Farming Incentive">SFI</abbr>. If you select a land parcel in your <abbr title="Sustainable Farming Incentive">SFI</abbr> application that contains a scheduled monument, historic or archaeological feature, you will be told that you need to request an <abbr title="Sustainable Farming Incentive">SFI</abbr> Historic Environment Farm Environment Record (<abbr title="Sustainable Farming Incentive">SFI</abbr> <abbr title="Historic Environment Farm Environment Record">HEFER</abbr>).</p>

<h4 class="govuk-heading-s" id="how-to-record-your-soil-management-plan">How to record your soil management plan</h4>

<p>You can choose how to record a soil management plan. For example, you could use a map or spreadsheet to record the information. You can choose to record the plan on paper or digitally.</p>

<p>This table is an example of how you could choose to record a soil management plan.</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">&nbsp;Field or part field reference&nbsp;</th>
            <th class="govuk-table__header" scope="col">Field details</th>
            <th class="govuk-table__header" scope="col">Risks and problems identified in the soil assessment</th>
            <th class="govuk-table__header" scope="col">Proposed management actions</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Field 1, part 1 ST0000 0000</td>
            <td class="govuk-table__cell">Lower risk of runoff and erosion. Medium textured well-drained stable soil in combinable crop rotation. Slopes under 3 degrees. Soil structure good, no signs of runoff or erosion.&nbsp;</td>
            <td class="govuk-table__cell">None identified</td>
            <td class="govuk-table__cell">Maintain current management. Reconsider if cropping changes.</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Field 2 SY0000 0000&nbsp;</td>
            <td class="govuk-table__cell">High runoff and erosion risk. Erodible light sandy soil in combinable crop rotation. Slopes over 7 degrees. Buried remains of Roman Villa. Next to road and watercourse.</td>
            <td class="govuk-table__cell">&nbsp;Soil/sediment deposition. Risk of compaction increasing runoff and erosion</td>
            <td class="govuk-table__cell">Include cover crop in rotation to improve soil organic matter content.</td>
        </tr>
    </tbody>
</table>

<h4 class="govuk-heading-s" id="review-your-soil-management-plan-each-year">Review your soil management plan each year</h4>

<p>The arable and horticultural soils standard requires that you review your soil management plan each year, update it to take account of:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>new soil analysis you undertake, including soil organic matter testing under action 2</p>
    </li>
    <li>
        <p>new risks or continuing issues identified in your land parcels</p>
    </li>
    <li>
        <p>updated proposed management actions for the forthcoming year</p>
    </li>
</ul>

<h4 class="govuk-heading-s" id="additional-information">Additional information</h4>

<p>Other information about assessing your soil is available. This includes:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p><a rel="external" href="https://projectblue.blob.core.windows.net/media/Default/Imported%20Publication%20Docs/ThinkSoils.pdf" class="govuk-link">The Environment Agency’s ‘think soils’ practical guide to soil assessment</a></p>
    </li>
    <li>
        <p><a rel="external" href="https://www.niab.com/sites/default/files/imce_uploads/VirtualEvents/ASDA%20soil%20health%20assessment%20handbook%20-%20May%202020.pdf" class="govuk-link">The National Institute of Agricultural Botany (NIAB) soil health assessment guide</a></p>
    </li>
    <li>
        <p><a rel="external" href="https://www.cfeonline.org.uk/environmental-management/soils/" class="govuk-link">Championing the Farmed Environment (CFE) soils information</a></p>
    </li>
    <li>
        <p>AHDB’s information about <a rel="external" href="https://ahdb.org.uk/knowledge-library/soil-texture-cation-exchange-capacity" class="govuk-link">soil texture and cation exchange capacity</a>.</p>
    </li>
    <li>
        <p>AHDB’s factsheet about <a rel="external" href="https://ahdb.org.uk/knowledge-library/how-to-count-earthworms" class="govuk-link">how to count earthworms</a> and use the <a rel="external" href="https://ahdb.org.uk/knowledge-library/earthworm-recording-sheet" class="govuk-link">earthworm recording sheet</a>.</p>
    </li>
    <li>
        <p>the AHDB GreatSoils factsheet about <a rel="external" href="https://projectblue.blob.core.windows.net/media/Default/Imported%20Publication%20Docs/GREATsoils%20Factsheet%20-%20Biological%20Tests%20for%20Soil%20Health.pdf" class="govuk-link">biological tests for soil health</a>.</p>
    </li>
</ul>

<h3 class="govuk-heading-m" id="action-2-test-soil-organic-matter-2">
    <span class="number">17.4 </span>Action 2: Test soil organic matter</h3>

<p id="test-som">Testing soil organic matter will help you assess the health of your soil. To do this, you can:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>take soil samples</p>
    </li>
    <li>
        <p>analyse the soil samples, which will usually be done by a commercial laboratory</p>
    </li>
</ul>

<h4 class="govuk-heading-s" id="how-to-select-a-sample-area">How to select a sample area</h4>

<p>Before you take soil samples, you’ll need to select your sample areas. A sample area is an area of land across which you will take soil samples.</p>

<p>When you select sample areas, try to choose areas which have:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>a similar soil type</p>
    </li>
    <li>
        <p>been managed in a similar way in the past</p>
    </li>
</ul>

<p>If the soil type and past management is similar, you can take account of the size of the land parcels:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>select one sample area in each land parcel if you consider the land parcels to be an average size</p>
    </li>
    <li>
        <p>select a number of smaller sample areas within a large land parcel</p>
    </li>
    <li>
        <p>combine small land parcels into a single sample area, but try to avoid the combined area being too large as this will reduce the soil testing analysis accuracy</p>
    </li>
</ul>

<p>The arable and horticultural soils standard requires that during your 3-year <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, each land parcel has been tested for soil organic matter within the last 5 years. Make sure you meet this requirement of the standard if you combine a number of small land parcels into a single sample area. For example, the overall combined area could include samples from each land parcel.</p>

<h4 class="govuk-heading-s" id="when-to-take-soil-samples">When to take soil samples</h4>

<p>You may find it easier to take soil samples in the spring or autumn, before you cultivate the land. This will also avoid damaging the crop.</p>

<p>It is advisable to avoid taking soil samples if:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>the soil is waterlogged or very dry, because it may reduce the quality of the soil analysis</p>
    </li>
    <li>
        <p>manure or slurry has been applied within around the last 3 months, as it may affect the soil organic matter levels and give you a false result</p>
    </li>
</ul>

<h4 class="govuk-heading-s" id="how-to-take-soil-samples">How to take soil samples</h4>

<p>You can take multiple soil samples on each sample area and combine them into a single sample that represents the soil across each sample area.</p>

<p>You can choose how many soil samples you take in each sample area, but try to take enough to gain a good understanding of the soil organic matter across each sample area.</p>

<p>Avoid taking soil samples on areas of land where:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>there are historical or archaeological features, as identified on your <abbr title="Sustainable Farming Incentive">SFI</abbr> <abbr title="Historic Environment Farm Environment Record">HEFER</abbr></p>
    </li>
    <li>
        <p>features like manure heaps, pylons, gateways, headlands and around trees, as these features can distort the soil analysis results</p>
    </li>
</ul>

<p>To get a representative sample of the sample area you’re testing, aim to take cores up to a depth of around 15cm (6 inches).</p>

<p>You can follow these steps to take soil samples for soil organic matter:</p>

<ol>
    <li>
        <p>Walk a ‘W’ pattern across the sample area, with 5-7 stops along each leg of the ‘W’.</p>
    </li>
    <li>
        <p>This will give you around 25 soil samples across the sample area.</p>
    </li>
    <li>
        <p>Combine the soil samples in a clean plastic bag, to form one bulk sample of about 0.5kg.</p>
    </li>
</ol>

<p>If you want to assess the soil structure and soil biology (for action 1), at 5 to 10 stops across the whole ‘W’ you can:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>assess topsoil structure</p>
    </li>
    <li>
        <p>count and record earthworms</p>
    </li>
</ul>

<p>You can also assess the subsoil structure at 3 of the stops, one of which should be on a headland.</p>

<p>You may find it helpful to read the AHDB guidance about <a rel="external" href="https://ahdb.org.uk/knowledge-library/how-to-collect-a-soil-sample" class="govuk-link">how to collect a soil sample</a>.</p>

<p>The image below shows how you can walk a ‘W’ and take soil samples across a sample area.</p>

<figure class="image embedded">
    <div class="img"><img src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/151496/soil_sampling.svg" alt="Illustration showing how to take soil samples in a 'W' shape across a field."></div>
</figure>

<h4 class="govuk-heading-s" id="how-to-test-the-soil-samples">How to test the soil samples</h4>

<p>If you have the right equipment and expertise, you can test the soil samples yourself. However, sending your soil samples to a commercial laboratory will usually give more accurate results. You can find a list of <a rel="external" href="https://ahdb.org.uk/knowledge-library/soil-and-forage-testing-companies" class="govuk-link">laboratories where you can send your soil samples</a> on the AHDB website.</p>

<p>Try to use the same laboratory and method of testing if you are repeating the tests over a number of years. Having a consistent approach will help you see how the soil organic matter is increasing or decreasing over time.</p>

<p>If you use a laboratory, you can ask them to test organic matter content by using the:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>loss on ignition test (as a minimum level of analysis)</p>
    </li>
    <li>
        <p>Dumas test, which uses dry combustion to burn the samples</p>
    </li>
</ul>

<h3 class="govuk-heading-m" id="action-3-add-organic-matter-1">
    <span class="number">17.5 </span>Action 3: Add organic matter</h3>

<p>To add organic matter to the soil, you can:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>apply organic manure</p>
    </li>
    <li>
        <p>use green manures, catch crops or cover crops</p>
    </li>
    <li>
        <p>chop or leave, or incorporate, straw</p>
    </li>
    <li>
        <p>introduce grass or herbal leys into an arable rotation</p>
    </li>
    <li>
        <p>include legume species or legume rich mixes in rotations</p>
    </li>
</ul>

<p>When choosing how you will add organic matter, consider the soil type and risks you’ve identified in your soil assessment for action 1 in this standard.</p>

<p>You may also find it helpful to read the AHDB Great Soils factsheet about <a rel="external" href="https://ahdb.org.uk/knowledge-library/adding-organic-matter-to-soil" class="govuk-link">adding organic matter to soil</a>.</p>

<p>Depending on the type of organic manure you apply, you may need to read the <a href="https://www.gov.uk/government/publications/sewage-sludge-in-agriculture-code-of-practice" class="govuk-link">sewage sludge in agriculture: code of practice</a> and check if you need <a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/290130/LIT_5492_40c081.pdf" class="govuk-link">a land spreading permit</a>.</p>

<p>When choosing how you will add organic matter, consider the soil type and risks you’ve identified in your soil assessment for action 1 in this standard.</p>

<p>You may also find it helpful to read the AHDB GreatSoils factsheet about <a rel="external" href="https://ahdb.org.uk/knowledge-library/adding-organic-matter-to-soil" class="govuk-link">adding organic matter to soil</a>.</p>

<h4 class="govuk-heading-s" id="peaty-soil-2">Peaty soil</h4>

<p>If the soil type is peaty, the arable and horticultural soils standard requires that you should not complete this action because adding organic matter can speed up peat decomposition. Peaty soil means there is around 20% or more organic matter to a depth of 40cm or more.</p>

<h3 class="govuk-heading-m" id="action-4-winter-cover-1">
    <span class="number">17.6 </span>Action 4: Winter cover</h3>

<p>You can use crops or vegetation that provide a green cover to protect bare soil over the winter. These include:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>autumn-sown crops such as winter cereals, linseed and oilseed rape</p>
    </li>
    <li>
        <p>a quick-growing cover crop, including green manures</p>
    </li>
    <li>
        <p>leaving weedy stubbles that give sufficient cover to protect the soil</p>
    </li>
</ul>

<p>The crops or vegetation you choose need to be:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>suitable for winter sowing</p>
    </li>
    <li>
        <p>fast growing</p>
    </li>
</ul>

<p>*frost tolerant to provide adequate cover over winter</p>

<p>If you’re using a quick-growing cover crop, you may find it helpful to read the AHDB <a rel="external" href="https://projectblue.blob.core.windows.net/media/Default/Imported%20Publication%20Docs/IS41%20Opportunities%20for%20cover%20crops%20in%20conventional%20arable-rotations%20(2018).pdf" class="govuk-link">information sheet about cover crops</a>.</p>

<p>If you enter land into the intermediate level of the arable and horticultural soils standard, you’ll need to include multi-species cover crops on the required (20%) area of land entered into this level of the standard.</p>

<p>Multi-species cover crops means a mix of brassicas, legumes, and grasses/cereals, grown together on the same area of land. You can choose the plant types and proportion of each plant type that works for your farm and crop rotation.</p>

<h4 class="govuk-heading-s" id="how-to-establish-winter-cover">How to establish winter cover</h4>

<p>To achieve a well-established winter cover with leafy vegetation to protect the soil from the start of December, you may want to establish it in late summer or early autumn.</p>

<p>If you’re in an area with a shorter growing season you may need to choose plants that germinate and grow in cooler weather.</p>

<p>The image below gives an example of well-established green cover at the start of the winter months.</p>

<figure class="image embedded">
    <div class="img"><img src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/151499/Well_established_winter_crop_with_partridge_in_foreground.jpg" alt="Image of a green field with some brown patches of soil and partridges in the foreground."></div>
    <figcaption>
        <p>Credit: Cindy Hughes, Defra.</p>
    </figcaption>
</figure>

<p>The image below gives an example of very well-established, multi-species winter green cover.</p>

<figure class="image embedded">
    <div class="img"><img src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/151497/Well_established_green_cover.jpg" alt="Image of well established green plants covering the ground."></div>
    <figcaption>
        <p>Credit: Tom Hicks, Natural England.</p>
    </figcaption>
</figure>

<p>If you’re using weedy stubbles for winter cover, to meet the requirement in the arable and horticultural soils standard they need to give sufficient cover to protect the soil. This is likely to be the case if the stubbles follow the harvest of:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <p>barley</p>
    </li>
    <li>
        <p>canary seed</p>
    </li>
    <li>
        <p>oats</p>
    </li>
    <li>
        <p>red millet</p>
    </li>
    <li>
        <p>rye</p>
    </li>
    <li>
        <p>triticale</p>
    </li>
    <li>
        <p>wheat</p>
    </li>
    <li>
        <p>white millet</p>
    </li>
    <li>
        <p>linseed</p>
    </li>
    <li>
        <p>oilseed rape</p>
    </li>
    <li>
        <p>quinoa</p>
    </li>
</ul>

<h4 class="govuk-heading-s" id="how-to-destroy-winter-cover">How to destroy winter cover</h4>

<p>The arable and horticultural soils standard requires you to retain the winter cover until the end of February, unless you’re planting an early-sown spring crop.</p>

<p>How you destroy the winter cover is up to you. You can graze your cover crop with livestock and incorporate it into your soils to increase organic matter (this also counts towards action 3 in the arable and horticultural soils standard).</p>

<p>Avoid using heavy machinery, or heavy grazing, on wet soils to destroy the winter cover as this can cause soil compaction.</p>
