<p>The Sustainable Farming Incentive (<abbr title="Sustainable Farming Incentive">SFI</abbr>) is the first of 3 new environmental schemes being introduced under the <a href="https://www.gov.uk/government/publications/agricultural-transition-plan-2021-to-2024" class="govuk-link">Agricultural Transition Plan</a>. The other 2 schemes are Local Nature Recovery and Landscape Recovery.</p>

<p><abbr title="Sustainable Farming Incentive">SFI</abbr> aims to help farmers manage land in a way that improves food production and is more environmentally sustainable.</p>

<p>Farmers will be paid to provide public goods, such as:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>improved water quality</li>
    <li>biodiversity</li>
    <li>climate change mitigation</li>
    <li>animal health and welfare</li>
</ul>

<p>In 2022, <abbr title="Sustainable Farming Incentive">SFI</abbr> aims to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>encourage actions that improve soil health</li>
    <li>recognise how moorland provides benefits to the public (public goods)</li>
    <li>improve animal health and welfare by helping farmers with the costs of veterinary advice for livestock</li>
</ul>

<h3 class="govuk-heading-m" id="sfi-standards-agreements">
    <span class="number">1.1 </span>
    <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreements</h3>

<p>You’ll be eligible to apply for an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement if you’re a farmer who is eligible for the Basic Payment Scheme (<abbr title="Basic Payment Scheme">BPS</abbr>), with land in England. Read more information about <a href="{{ anchor }}check-you-and-your-land-are-eligible-for-an-sfi-standards-agreement" class="govuk-link">eligibility for <abbr title="Sustainable Farming Incentive">SFI</abbr></a>.</p>

<h4 class="govuk-heading-s" id="standards"><abbr title="The chosen standard(s) to be delivered to the level you have selected.">Standards</abbr></h4>
<p>In 2022, there will be 3 standards available, with different levels and payments. Those are:</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Standard</th>
            <th class="govuk-table__header" scope="col">Level</th>
            <th class="govuk-table__header" scope="col">Payment</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Arable and horticultural soils</td>
            <td class="govuk-table__cell">Introductory</td>
            <td class="govuk-table__cell">£22 per hectare</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Intermediate</td>
            <td class="govuk-table__cell">£40 per hectare</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Improved grassland soils</td>
            <td class="govuk-table__cell">Introductory</td>
            <td class="govuk-table__cell">£28 per hectare</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Intermediate</td>
            <td class="govuk-table__cell">£58 per hectare</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Moorland</td>
            <td class="govuk-table__cell">Introductory</td>
            <td class="govuk-table__cell">£10.30 per hectare</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell">Additional payment</td>
            <td class="govuk-table__cell">£265 per agreement</td>
        </tr>
    </tbody>
</table>

<p>There will also be an additional annual payment of £6.15 per hectare (<abbr title="hectares">ha</abbr>) for common land entered into a separate <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement.</p>

<p>In the future, more standards will be introduced. You’ll be able to add these to your agreement, as well as increase levels and add land.</p>

<p>Read guidance about <a href="{{ anchor }}how-the-sfi-standards-work" class="govuk-link">how <abbr title="Sustainable Farming Incentive">SFI</abbr> standards work</a>.</p>

<h4 class="govuk-heading-s" id="agreements">Agreements</h4>
<p>An <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement will last for 3 years. You need to have ‘management control’ of the land entered into the agreement for its 3-year duration. Read the information about <a href="{{ anchor }}check-you-and-your-land-are-eligible-for-an-sfi-standards-agreement" class="govuk-link">eligibility</a> for more details about ‘management control’.</p>


<h4 class="govuk-heading-s" id="payments">Payments</h4>
<p>You’ll be paid on a quarterly basis, with the first payment made 3 months after your agreement starts.</p>

<p>Read more about <a href="{{ anchor }}getting-paid" class="govuk-link">getting paid for an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement</a>.</p>

<h4 class="govuk-heading-s" id="applying">Applying</h4>
<p>We expect to open applications to all <abbr title="Basic Payment Scheme">BPS</abbr> eligible farmers from late June 2022. Before that happens, we’ve invited some farmers who previously expressed an interest in <abbr title="Sustainable Farming Incentive">SFI</abbr> to apply early so we can get feedback and make improvements.
    Applications will remain open, so you can apply at a time that works best for you. If it’s necessary to close applications, this date will be publicised, including on GOV.UK, giving you 6 weeks’ notice.</p>

<p>Read about <a href="{{ anchor }}what-to-do-before-you-apply" class="govuk-link">what you can do now to prepare to apply for <abbr title="Sustainable Farming Incentive">SFI</abbr></a>.</p>

<p>You can choose which eligible land parcels to enter into an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement. It does not have to be the whole of your farm.</p>

<p>Read more about <a href="{{ anchor }}check-you-and-your-land-are-eligible-for-an-sfi-standards-agreement" class="govuk-link">land eligibility</a>.</p>

<h4 class="govuk-heading-s" id="capital-items-funding">Capital items funding</h4>

<p>The standards will not include any capital items funding in 2022. You can apply for existing capital items funding offers on land parcels entered into an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, such as <a href="https://www.gov.uk/guidance/countryside-stewardship-capital-grants-manual" class="govuk-link">Countryside Stewardship capital grants</a>.</p>

<p>In the future, <abbr title="Sustainable Farming Incentive">SFI</abbr> will include capital items funding to help you complete the actions in the standards. More details about this will be published on GOV.UK.</p>

<h3 class="govuk-heading-m" id="annual-health-and-welfare-review">
    <span class="number">1.2 </span>Annual health and welfare review</h3>

<p>The annual health and welfare review will provide funding to eligible livestock farmers. This funding will cover the cost of an annual review of your livestock by a vet chosen by you.</p>

<p>This is part of the <abbr title="Sustainable Farming Incentive">SFI</abbr> offer in 2022 and sits alongside the environmental standards. You do not need to have an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement to be eligible to apply for the annual health and welfare review funding.</p>

<p>Read more information about the <a href="{{ anchor }}sfi-annual-health-and-welfare-review" class="govuk-link">annual health and welfare review</a>.</p>

<br />
