 <p>This information explains what you’re agreeing to when you enter into a Sustainable Farming Incentive (<abbr title="Sustainable Farming Incentive">SFI</abbr>) standards agreement, when it will start and what changes you can request once your agreement starts.</p>

 <h3 class="govuk-heading-m" id="entering-into-an-agreement">
     <span class="number">8.1 </span>Entering into an agreement</h3>

 <p>When you submit your <abbr title="Sustainable Farming Incentive">SFI</abbr> application, we will process it. You’ll be notified when your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement offer is available in the <a href="https://www.gov.uk/claim-rural-payments" class="govuk-link">Rural Payments service</a> to check.</p>

 <p>To enter into the agreement, you must accept it and sign it digitally. Your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement cannot start until you do this.</p>

 <p>Your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement comprises of:</p>

 <ul class="govuk-list govuk-list--bullet">
     <li>agreement document</li>
     <li><a href="https://www.gov.uk/government/publications/sustainable-farming-incentive-standards-agreement-terms-and-conditions" class="govuk-link">scheme terms and conditions</a></li>
     <li>standards</li>
 </ul>

 <p>By accepting your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement, you are agreeing to follow the scheme terms and conditions. You should read them carefully before you accept it.</p>

 <h3 class="govuk-heading-m" id="when-your-agreement-will-start">
     <span class="number">8.2 </span>When your agreement will start</h3>

 <p><abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreements will not all start on a single date. The start date for your agreement will depend on when you submit your <abbr title="Sustainable Farming Incentive">SFI</abbr> application, how long it takes to process and how quickly you accept your agreement offer.</p>

 <p>Your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement cannot start until you accept it.</p>

 <p>Your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement will last for 3 years from its start date, as shown on your agreement document.</p>

 <p>We will publish more information on GOV.UK about accepting an agreement offer and agreement start dates before applications open.</p>

 <h3 class="govuk-heading-m" id="submit-annual-declaration">
     <span class="number">8.3 </span>Submit an annual declaration to confirm progress of your agreement</h3>

 <p>You must submit an annual declaration for each year of your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement. This is to confirm you have complied with the obligations under your agreement for the relevant agreement year, which allows us to make your final quarterly payment for that year.</p>

 <p>You’ll complete and submit your annual declaration online. It will be a straightforward process. You’ll need to submit it during the last 2 months of the relevant agreement year. We will remind you when it’s due and provide more information to help you complete it.</p>

 <p>If you do not submit your annual declaration when it’s due, we may be unable to make your final quarterly payment for the relevant agreement year. We may also withhold your other payments or recover payments, and your agreement may be ended.</p>

 <p>If you’ve been unable to comply with the obligations in your agreement, you cannot use the annual declaration to tell us this. Instead, you must notify us (in writing, as soon as reasonably practicable) if there is a change of circumstances.</p>

 <p>Read more about <a href="checking-progress-of-your-sfi-standards-agreement" class="govuk-link">checking progress of your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement</a>.</p>

 <h3 class="govuk-heading-m" id="requesting-changes-to-your-agreement">
     <span class="number">8.4 </span>Requesting changes to your agreement</h3>

 <p>You’ll be able to request certain changes to your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement.</p>

 <h3 class="govuk-heading-m" id="upgrading-your-agreement">
     <span class="number">8.5 </span>Upgrading your agreement</h3>
 <p>You can upgrade your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement every 12 months from its start date. This will allow you to:</p>

 <ul class="govuk-list govuk-list--bullet">
     <li>add more standards</li>
     <li>increase levels within standards already in your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement</li>
     <li>add more land, including land coming out of a Countryside Stewardship agreement when it ends</li>
 </ul>

 <p>You’ll be able to submit an upgrade request towards the end of the first and second years of your 3-year agreement.</p>

 <p>The upgrade requests can include all of the upgrades you would like to request for the next agreement year. It will need to be submitted by a deadline.</p>

 <p>We’ll publish more information on GOV.UK about when to submit your upgrade request. We will not accept your annual upgrade request if it’s received after that date.</p>

 <p>If we approve your upgrade request, you’ll need to confirm that you accept your updated <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement by the date we’ll tell you. If you do this, your updated agreement will usually apply from the start of the following agreement year.
     Your agreement will still last for 3 years from its original start date.</p>

 <p>If you do not accept your updated <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement by the date we’ll tell you, your original agreement will continue without the upgrades.</p>

 <p>If we reject your upgrade request, we’ll tell you why we have rejected it.</p>

 <p>More information about how to submit an annual upgrade request will be published on GOV.UK.</p>

 <h3 class="govuk-heading-m" id="removing-standards-reducing-the-levels-in-the-standards-or-land-area-in-your-sfi-standards-agreement-or-ending-it-early">
     <span class="number">8.6 </span>Removing standards, reducing the levels in the standards or land area in your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement or ending it early</h3>

 <p>You’re usually expected to deliver your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement for its 3-year duration without:</p>

 <ul class="govuk-list govuk-list--bullet">
     <li>removing standards</li>
     <li>reducing the level that you’ve selected for a standard</li>
     <li>removing land from the agreement</li>
     <li>ending the agreement early</li>
 </ul>

 <p>In certain situations, it may be possible for you to do this before its 3-year duration is completed. For example, we may agree to do this if you have a change of circumstances that makes it impossible for you to deliver all or part of the agreement.</p>

 <p>If we agree to remove standards, reduce levels of the standards or remove land, or end your agreement early, you may have to repay some, or all, of the money already paid to you.</p>

 <p>Your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement payments are based on you completing the actions in the standards for a full agreement year, including submitting your annual declaration. If you have done this, you will not have to repay the money already paid to you. If you have not, you may need to make a repayment for the affected agreement year.</p>

 <h3 class="govuk-heading-m" id="transferring-an-sfi-standards-agreement-to-another-person">
     <span class="number">8.7 </span>Transferring an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement to another person</h3>

 <p>It will not usually be possible for you to transfer an <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement to another person.</p>

 <p>If land in your <abbr title="Sustainable Farming Incentive">SFI</abbr> standards agreement is transferred to another person, for example, it is sold or a tenancy ends and there is a new tenant, you must inform us as soon as possible. We will advise you what needs to happen.</p>

 <br />
