{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Rural Payments",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% set serviceName %}
Rural Payments
{% endset%}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set ppid = pid + 1 %}
{% set 0pid = ("0" + (pid + 1)).slice(-2) %}
{% set pageid = 35 %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back</a>
        </li>

    </ol>
</div>
{% endblock %}


{% block content %}
{% include "0/includes/button-save-return.html" %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% block h1 %}
        <h1 class="govuk-heading-xl">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}

    </div>

</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <p>To be eligible you must complete all of the <b>introductory</b> level actions on the land parcels you enter into this standard.</p>

        <p>You can select 'Back' and change your answer or select 'Withdraw application'.</p>

        <br />

        <form action="/0/withdraw-application-form" method="POST">

            <input type="hidden" id="application-status" name="applicationstatus" value="Withdrawn">

            <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                Withdraw application
            </button>

        </form>

    </div>

</div>
{% endblock %}
