{% extends "layout_prototype.html" %}

<!-- Update prototype id -->
{% set pid = 1 %}
{% set ppid = pid + 1 %}
{% set 0pid = ("0" + (pid + 1)).slice(-2) %}


<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
{% endblock %}

<!-- Main content area -->

{% block acc1 %}
<p>Currently, the SLT are concerned we’re not providing clarity to users over the nature of the payments we send them.</p>
<p>Thus, we need to look at requirements of payment statements and understand what problems exist currently for end users, and how this knowledge can contribute to the development of the SFI payments from October 2022.</p>

<div class="govuk-inset-text">
    The first step of this is to understand <b>what information we need to provide about payment details to end-users</b>.
</div>

<p>The spike team needs to explore issues and needs around payment statements made by Defra/RPA to farmers. Currently, the BPS users receive those statements in their RPA account. Otherwise, for other schemes, the statement is received with the remittance payments as a PDF via email.</p>
<p>There is a distinction between payment statements (information about payments) and payments themselves. Both of those need to be understood, with the focus on payment statements as a priority. </p>

{% endblock %}

{% block acc2 %}
<h3 class="govuk-heading-s">Output</h3>

<p>The output of this work should be an agreed understanding of the following:</p>

<ol class="govuk-list govuk-list--number">
    <li> Existing Payments Team’s assumptions about the issues facing the end users <br />
        <i>- Review of existing payment solution via the team workshop</i></li>
    <li>Existing gaps in our knowledge about the issues facing the end users <br />
        <i> - Secondary research, i.e. review of existing evidence and identifying opportunities for further research/gap analysis</i> </li>
    <li>End user requirements for appropriate data points on payment statements <br />
        <i> - Primary research with end users and concept validation</i> </li>
    <li>End user requirements for the required frequency of payment statements <br />
        <i> - Primary research with end users and concept validation</i></li>
</ol>


<h3 class="govuk-heading-s">Deliverables</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>Documented user needs, team’s assumptions, knowledge gaps, and problem statements.</li>
    <li>Recommended short term actions to mitigate the issues identified.</li>
    <li>Updated service blueprint, if needed.</li>
    <li>Created backlog items for future improvement opportunities.</li>

</ul>
{% endblock %}

{% block acc3 %}

<ul class="govuk-list govuk-list--bullet">
    <li>We believe that by explaining the breakdown of any given payment , the farmer will understand it first time, and this will result in a decrease in calls to our support centre</li>
    <li>We believe that by giving users accurate information about past and future payments that it will help to build trust between users and Defra and reduce pressure for the customer support team</li>
    <li>We believe that giving farmers accurate payment information that arrives punctually at a pre-agreed time, we can begin to build better trust with farmers </li>
    <li>We believe that by supporting the payment statement with appropriate notifications for the end user, we can achieve greater clarity on forthcoming and made payments - thus reducing call centre traffic</li>
    <li>We believe that creating a unified payment record across all schemes will help us to easily explain deductions and advances in payments to farmers and this will help reduce support calls to explain why a payment is not as expected.</li>
    <li>We believe that by showing a clear breakdown of how the payment was created, why deductions were made, and differentiating between the different payment schemes, the farmer will understand the payment statement resulting in increased customer satisfaction results and a decrease in calls to our support centre</li>
    <li>We believe that by giving clarity to users on what they're being paid, and when, they will be able to more easily transition to new schemes and plan for the future.</li>
</ul>

{% endblock %}

{% block acc4 %}
<ul class="govuk-list govuk-list--bullet">
    <li><a href="sms-1.html">SMS 1 - payment calculated</a></li>
    <li><a href="sms-2.html">SMS 2 - payment made</a></li>
    <li><a href="account-business-overview.html">Business overview</a> </li>
    <li><a href="payments.html">Payments</a> </li>
    <li><a href="payment-statement-31773.html">Payement statement</a> </li>

</ul>
{% endblock %}

{% block acc5 %}
<p>To follow...</p>

{% endblock %}


<!-- Side panel -->
{% block right %}
<!-- Prototype details -->
{{ super() }}

{% endblock %}
