{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Rural Payments",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% set serviceName %}
Rural Payments
{% endset%}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set ppid = pid + 1 %}
{% set 0pid = ("0" + (pid + 1)).slice(-2) %}
{% set pageid = 39 %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back</a>
        </li>

    </ol>
</div>
{% endblock %}


{% block content %}
{% include "0/includes/button-save-return.html" %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% block h1 %}
        <h1 class="govuk-heading-xl">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}

    </div>

</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">

        <h2 class="govuk-heading-l">{{ data['prototypes'][pid]['standards'][0]['name'] }}</h2>

        <p>How to select a land parcel for the level(s) shown: Take the relevant box in the list below or select the long parcel in the map by:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Clicking once for the introductory level</li>
            <li>Clicking again for the intermediate level (if shown)</li>
            <li>Clicking again to deselect it</li>
        </ul>

        <p>To select all the available land parcels tick 'select all' for the relevant level</p>

        <p>Check the 'available area' is an eligible land type: A land parcel's 'available area' (which is based on the eligible land covers for this standard) was also been eligible and type. Read the <a href="eligibility-of-commons-and-shared-grazing-land-for-an-sfi-standards-agreement" target="_blank">Eligible land for the Arable and Horticultural soils standard</a> on GOV.UKk for more information.</p>

        <br />

        <p class="govuk-body-l">Total SFI available area (ha): {{ data['landsfitotalavailable'] }}</p>

        <p class="govuk-body-l">Total SFI available area (ha) selected for Inductory level: {{ data['landarableintroselected'] }}</p>

        <!-- <p>Total used: {{ data['landarableintroselected'] + data['landarableinterselected'] | round(2) }}</p> -->

        {% if data['arableintermediatelevel'] == "yes" %}
        <p class="govuk-body-l">Total SFI available area (ha) selected for Intermediate level: {{ data['landarableinterselected'] }}</p>
        {% else %}
        {% endif %}

        <hr>

        <p class="orange">OS Map Sheet reference</p>
        <br />
        <hr>

        <p>Form goes here</p>

        <br />

        <form action="/0/apply-land-parcels-form" method="POST">

            <button class="govuk-button " data-module="govuk-button">
                Update application
            </button>

        </form>

    </div>

    <div class="govuk-grid-column-one-half">

        <img src="../../../public/images/fields.png">

        <p>Key:</p>

    </div>

</div>
{% endblock %}
