{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Rural Payments",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% set serviceName %}
Rural Payments
{% endset%}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set ppid = pid + 1 %}
{% set 0pid = ("0" + (pid + 1)).slice(-2) %}
{% set pageid = 44 %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back to business overview</a>
        </li>

    </ol>
</div>
{% endblock %}


{% block content %}
{% block title %}
<!-- <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        {% block h1 %}
        <h1 class="govuk-heading-xl">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}



    </div>

</div> -->
{% endblock %}

<div class="govuk-grid-row govuk-!-padding-top-8">

    <div class="govuk-grid-column-full">


        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Application complete
            </h1>
            <div class="govuk-panel__body">
                Your reference number<br><strong>HDJ2123F</strong>
            </div>
        </div>

        <h2 class="govuk-heading-l">What happens next</h2>

        <p>Will review your application and contact you either to approve your agreement, or to ask for more information.</p>

        <a href="account-business-overview.html" class="govuk-button">Close</a>

    </div>

</div>
{% endblock %}
