{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Rural Payments",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% set serviceName %}
Rural Payments
{% endset%}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set ppid = pid + 1 %}
{% set 0pid = ("0" + (pid + 1)).slice(-2) %}
{% set pageid = 41 %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back</a>
        </li>

    </ol>
</div>
{% endblock %}


{% block content %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% block h1 %}
        <h1 class="govuk-heading-xl">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}

    </div>

</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Personal details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['fullname'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    5 January 1978
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    72 Guild Street<br>London<br>SE23 6FH
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> address</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Contact details
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">{{ data['mobile'] }}</p>
                    <p class="govuk-body">{{ data['email'] }}</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">Application details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Previous application number
                </dt>
                <dd class="govuk-summary-list__value">
                    502135326
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Licence type
                </dt>
                <dd class="govuk-summary-list__value">
                    For personal use
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Home address
                </dt>
                <dd class="govuk-summary-list__value">
                    72 Guild Street<br>London<br>SE23 6FH
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> home address</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Licence period
                </dt>
                <dd class="govuk-summary-list__value">
                    Valid for 6 months
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> licence period</span>
                    </a>
                </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">Now send your application</h2>

        <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <form action="/form-handler" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <button class="govuk-button" data-module="govuk-button">
                Accept and send
            </button>

        </form>


    </div>

</div>
{% endblock %}
