{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Rural Payments",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% set serviceName %}
Rural Payments
{% endset%}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set ppid = pid + 1 %}
{% set 0pid = ("0" + (pid + 1)).slice(-2) %}
{% set pageid = 40 %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back</a>
        </li>

    </ol>
</div>
{% endblock %}


{% block content %}
{% include "0/includes/button-save-return.html" %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% block h1 %}
        <h1 class="govuk-heading-xl">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}

    </div>

</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


        <!--  <p class="orange">User selected standard(s): {{ data['standard'] }}</p> -->


        {% if "arable" in data['standard'] %}
        <p>Your indicative SFI payment for completing the actions in the <b>Arable and Horticultural soils</b> standard will be <b>£xx</b> per year.</p>

        <p>This is made up of:</p>
        <ul class="govuk-list govuk-list--bullet">


            {% if data['arableintroductorylevel'] === "yes" %}

            <li>Introductory level bullet</li>

            {% else %}
            {% endif %}

            {% if data['arableintermediatelevel'] === "yes" %}

            <li>Intermediate level bullet</li>

            {% else %}
            {% endif %}

        </ul>

        {% else %}
        {% endif %}

        <br />

        <form action="/0/apply-payment-standard-form" method="POST">

            <input type="hidden" id="levels-status" name="levelsstatus" value="Completed">
            <input type="hidden" id="completed" name="completed" value="3">

            <button class="govuk-button " data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>

</div>
{% endblock %}
