{% extends "layout.html" %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set ppid = pid + 1 %}
{% set 0pid = ("0" + (pid + 1)).slice(-2) %}
{% set pageid = 47 %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li>

    </ol>
</div>
{% endblock %}


<!-- Main content area -->
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-padding-top-4">

        <ul class="govuk-list  govuk-list--spaced">

            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="1" data-track-label="benefits" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Benefits&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="benefits">Benefits</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="2" data-track-label="births-deaths-marriages" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Births, deaths, marriages and care&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="births-deaths-marriages">Births, deaths, marriages and care</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="3" data-track-label="business" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Business and self-employed&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--active" href="business"><b>Business and self-employed</b></a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="4" data-track-label="childcare-parenting" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Childcare and parenting&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="childcare-parenting">Childcare and parenting</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="5" data-track-label="citizenship" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Citizenship and living in the UK&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="citizenship">Citizenship and living in the UK</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="6" data-track-label="justice" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Crime, justice and the law&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="justice">Crime, justice and the law</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="7" data-track-label="disabilities" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Disabled people&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="disabilities">Disabled people</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="8" data-track-label="driving" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Driving and transport&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="driving">Driving and transport</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="9" data-track-label="education" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Education and learning&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="education">Education and learning</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="10" data-track-label="employing-people" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Employing people&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="employing-people">Employing people</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="11" data-track-label="environment-countryside" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Environment and countryside&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="environment-countryside">Environment and countryside</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="12" data-track-label="housing-local-services" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Housing and local services&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="housing-local-services">Housing and local services</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="13" data-track-label="tax" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Money and tax&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="tax">Money and tax</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="14" data-track-label="abroad" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Passports, travel and living abroad&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="abroad">Passports, travel and living abroad</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="15" data-track-label="visas-immigration" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Visas and immigration&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="visas-immigration">Visas and immigration</a>
            </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="16" data-track-label="working" data-track-options="{&quot;dimension26&quot;:&quot;&quot;,&quot;dimension27&quot;:&quot;&quot;,&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Working, jobs and pensions&quot;,&quot;dimension32&quot;:&quot;Browse Index&quot;}" class="browse__link browse__link--inactive" href="working">Working, jobs and pensions</a>
            </li>
        </ul>

    </div>

    <div class="govuk-grid-column-one-third govuk-!-padding-top-4 borleft">

        <h2 class="govuk-heading-m govuk-!-padding-bottom-4">Browse: Business and self-employed</h2>

        <ul class="govuk-list govuk-list--spaced ">

            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="1" data-track-label="business/setting-up" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Setting up&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/setting-up">
                    <h3 class="browse__title">Setting up</h3>
                    <p class="govuk-body-s nodec">Includes self-employment and starting a business</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="2" data-track-label="business/business-tax" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Business tax&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/business-tax">
                    <h3 class="browse__title">Business tax</h3>
                    <p class="govuk-body-s">

                    </p>
                    <p class="govuk-body-s nodec">Includes Corporation Tax, Capital Gains Tax, Construction Industry Scheme (CIS) and VAT</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="3" data-track-label="business/finance-support" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Business finance and support&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/finance-support">
                    <h3 class="browse__title">Business finance and support</h3>
                    <p class="govuk-body-s nodec">Finding finance, business support, writing a business plan</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="4" data-track-label="business/limited-company" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Running a limited company&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/limited-company">
                    <h3 class="browse__title">Running a limited company</h3>
                    <p class="govuk-body-s nodec">Includes registering, setting up, company accounts and tax returns</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="5" data-track-label="business/expenses-employee-benefits" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Expenses and employee benefits&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/expenses-employee-benefits">
                    <h3 class="browse__title">Expenses and employee benefits</h3>
                    <p class="govuk-body-s nodec">Includes company cars and paying tax on employee benefits</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="6" data-track-label="business/funding-debt" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Business debt and bankruptcy&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/funding-debt">
                    <h3 class="browse__title">Business debt and bankruptcy</h3>
                    <p class="govuk-body-s nodec">Includes bankruptcy, insolvency and recovering debt</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="7" data-track-label="business/premises-rates" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Business premises and business rates&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/premises-rates">
                    <h3 class="browse__title">Business premises and business rates</h3>
                    <p class="govuk-body-s nodec">Includes leases, renting, planning permission, waste and appeals</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="8" data-track-label="business/food" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Food, catering and retail&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/food">
                    <h3 class="browse__title">Food, catering and retail</h3>
                    <p class="govuk-body-s nodec">Labelling and handling food, transporting, food safety</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="9" data-track-label="business/imports" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Importing&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/imports">
                    <h3 class="browse__title">Importing</h3>
                    <p class="govuk-body-s nodec">Includes moving goods in the EU and commodity codes</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="10" data-track-label="business/exports" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Exporting and doing business abroad&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/exports">
                    <h3 class="browse__title">Exporting and doing business abroad</h3>
                    <p class="govuk-body-s nodec">Includes moving goods in the EU and commodity codes</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="11" data-track-label="business/licences" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Licences and licence applications&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/licences">
                    <h3 class="browse__title">Licences and licence applications</h3>
                    <p class="govuk-body-s nodec">Applying for licences for events and businesses</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="12" data-track-label="business/selling-closing" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Selling your business and closing down&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/selling-closing">
                    <h3 class="browse__title">Selling your business and closing down</h3>
                    <p class="govuk-body-s nodec">Stopping self-employment, winding up or liquidating a limited company</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="13" data-track-label="business/sale-goods-services-data" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Sale of goods and services and data protection&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/sale-goods-services-data">
                    <h3 class="browse__title">Sale of goods and services and data protection</h3>
                    <p class="govuk-body-s nodec">Includes regulations for online retailers, offering credit and Trading Standards</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="14" data-track-label="business/childcare-providers" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Childcare providers&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/childcare-providers">
                    <h3 class="browse__title">Childcare providers</h3>
                    <p class="govuk-body-s nodec">Includes registering as a childcare provider</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="15" data-track-label="business/farming" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Farming business&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business-farming">
                    <h3 class="browse__title">Farming business</h3>
                    <p class="govuk-body-s nodec">Health and safety, registering and licensing animals, compliance tools, rights and pay</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="16" data-track-label="business/manufacturing" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Manufacturing&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/manufacturing">
                    <h3 class="browse__title">Manufacturing</h3>
                    <p class="govuk-body-s nodec">Managing waste, health and safety, regulations</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="17" data-track-label="business/intellectual-property" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Patents, trade marks, copyright and designs&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/intellectual-property">
                    <h3 class="browse__title">Patents, trade marks, copyright and designs</h3>
                    <p class="govuk-body-s nodec">Includes registering, protecting and applying for designs and patents</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="18" data-track-label="business/waste-environment" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Waste and environmental impact&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/waste-environment">
                    <h3 class="browse__title">Waste and environmental impact</h3>
                    <p class="govuk-body-s nodec">Includes waste management plans, hazardous waste and preventing pollution</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="19" data-track-label="business/science" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Scientific research and development&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/science">
                    <h3 class="browse__title">Scientific research and development</h3>
                    <p class="govuk-body-s nodec">Includes funding and support scheme guidance</p>
                </a> </li>
            <li class="govuk-!-padding-bottom-2">
                <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="20" data-track-label="business/maritime" data-track-options="{&quot;dimension1&quot;:&quot;business and self-employed&quot;,&quot;dimension26&quot;:&quot;1&quot;,&quot;dimension27&quot;:20,&quot;dimension28&quot;:&quot;20&quot;,&quot;dimension29&quot;:&quot;Maritime vessels and work at sea&quot;,&quot;dimension32&quot;:&quot;First Level Browse&quot;}" class="browse__link browse__link--inactive" href="business/maritime">
                    <h3 class="browse__title">Maritime vessels and work at sea</h3>
                    <p class="govuk-body-s nodec">Includes health and safety onboard, crew, registering vessels</p>
                </a> </li>
        </ul>

    </div>
</div>

{% endblock %}
