{% extends "layout_guidance.html" %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set ppid = pid + 1 %}
{% set 0pid = ("0" + (pid + 1)).slice(-2) %}

<!-- Update pageid   -->
{% set pageid = 17 %}


<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
{% endblock %}

<!-- Subheader - beneath h1 -->
{% block subheader %}
How to ask questions about SFI or make a complaint or appeal.
{% endblock %}

<!-- Contents nav -->
{% block contents %}
<ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-8">
    <li><a href="#your-eligibilityto-apply-for-this-funding">Your eligibility to apply for this funding</a></li>
    <li><a href="#how-much-funding-you-can-apply-for">How much funding you can apply for</a></li>
    <li><a href="#what-the-review-will-include">What the review will include</a></li>
    <li><a href="#how-the-review-will-be-completed-by-the-vet">How the review will be completed by the vet</a></li>
    <li><a href="#what-happens-after-the-review">What happens after the review</a></li>
</ul>
{% endblock %}

<!-- Main content area -->
{% block left %}
{{ super() }}

{% endblock %}
