{% extends "layout_prototype.html" %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set ppid = 0 + 1 %}
{% set 0pid = ("0" + (pid + 1)).slice(-2) %}


<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
{% endblock %}

<!-- Main content area -->

{% block acc1 %}
<p>Previous rounds of usability testing conducted for SFI were limited in the following ways:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>7 x ‘Model Office’ Usability Testing 6th-8th April 2022 – Participants were farmers and land owners working for/associated with RPA creating the risk of bias.</li>
    <li>4 x SFI 22 Front End User Testing (Abaco build SitAgri) 21st Feb to 11th March 2022 - Research sessions were led by the researcher as the participant is unable to use the test environment on their own machine. This results in a very unnatural experience for the user and is likely to have an impact on findings.
    </li>

</ul>

<p>We now have this prototype that will allow us to conduct usability sessions with customers remotely in order to replicate the SFI application journey as closely as possible.</p>
{% endblock %}

{% block acc2 %}

<ul class="govuk-list govuk-list--bullet">
    <li>To conduct usability testing of the “Apply for SFI” service </li>
    <li>To identify and understand any pain points throughout the user journey from awareness through to application submission </li>
    <li>To better understand how customers use the SFI guidance documents during their application and what information may be required at specific points during the application process</li>

</ul>
{% endblock %}

{% block acc3 %}
{% endblock %}

{% block acc4 %}
{{ super() }}
{% endblock %}

{% block acc5 %}
{{ super() }}
{% endblock %}


<!-- Side panel -->
{% block right %}
<!-- Prototype details -->
{{ super() }}
{% endblock %}
