{% extends "layout_prototype.html" %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set ppid = 0 + 1 %}
{% set 0pid = ("0" + (pid + 1)).slice(-2) %}


<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
{% endblock %}

<!-- Main content area -->

{% block acc1 %}
<p>Previous rounds of usability testing conducted for SFI were limited in the following ways:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>7 x ‘Model Office’ Usability Testing 6th-8th April 2022 – Participants were farmers and land owners working for/associated with RPA creating the risk of bias.</li>
    <li>4 x SFI 22 Front End User Testing (Abaco build SitAgri) 21st Feb to 11th March 2022 - Research sessions were led by the researcher as the participant is unable to use the test environment on their own machine. This results in a very unnatural experience for the user and is likely to have an impact on findings.
    </li>

</ul>

<p>We now have this prototype that will allow us to conduct usability sessions with customers remotely in order to replicate the SFI application journey as closely as possible.</p>
{% endblock %}

{% block acc2 %}

<ul class="govuk-list govuk-list--bullet">
    <li>To conduct usability testing of the “Apply for SFI” service </li>
    <li>To identify and understand any pain points throughout the user journey from awareness through to application submission </li>
    <li>To better understand how customers use the SFI guidance documents during their application and what information may be required at specific points during the application process</li>

</ul>
{% endblock %}

{% block acc3 %}

<ul class="govuk-list govuk-list--bullet govuk-list--spaced ">
    <li>Users are able to locate the full SFI guidance and will understand that they have to apply via their existing RPA account</li>
    <li>Users will understand the difference between the two links for SFI in the business overview page and will correctly select the top option as the one they need</li>
    <li>Users will understand that intermediate action #4 replaces #4 from the introductory level</li>
    <li>Users will understand the error message they see when indicating they cannot meet the intermediate level action, and will know they can still carry on with introductory levels</li>
    <li>Users are able to easily select land parcels for introductory and intermediate standard levels using the check box functionality</li>
    <li>Users are able to easily return to their application once submitted</li>

</ul>
{% endblock %}

{% block acc4 %}
<p>
    <b>Application journey:</b> <br />
</p>

<ol class="govuk-list govuk-list--number govuk-!-padding-bottom-8">
    <li><a href="/0/apply-for-sfi.html">Apply for SFI</a> </li>
    <li><a href="/0/apply-your-land.html">Land details (choose yes)</a> </li>
    <li><a href="/0/apply-management-control.html">Management control (choose yes)</a> </li>
    <li><a href="/0/apply-standards.html">Choose standard(s) (choose 'Arable')</a> </li>
    <li><a href="/0/apply-arable-levels.html">Arable introductory levels (yes to all)</a> </li>
    <li><a href="/0/apply-arable-levels-intermediate.html">Arable intermediate level (choose yes)</a> </li>
    <li><a href="/0/apply-select-land-parcels.html">Select land parcels (from top to botton, choose introductory, introductory, intermediate)</a> </li>
    <li><a href="/0/apply-check-your-answers.html">Check your answers</a> </li>
    <li><a href="/0/apply-submit-your-application.html">Submit your application</a> </li>
</ol>
{{ super() }}
{% endblock %}

{% block acc5 %}
{{ super() }}
<p>To follow after this round of testing...</p>
{% endblock %}


<!-- Side panel -->
{% block right %}
<!-- Prototype details -->
{{ super() }}


{% endblock %}
