{% extends "layout.html" %}

{% block pageTitle %}
{{ data['maintitle'] }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <div class="govuk-!-padding-bottom-4 govuk-!-padding-top-4">
            <h1 class="govuk-panel__title">
                {{ data['maintitle'] }}
            </h1>
            <p class="govuk-body-s">
                Last updated: {{ data['updated'] }}
            </p>
        </div>
    </div>

</div>

<div class=" govuk-grid-row govuk-!-padding-top-8">

    <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-8">

        <!-- Menu -->
        <ol class="govuk-list govuk-list--number">
            <li><a href="#summary">Summary</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#links">Links</a></li>
            <li><a href="#prototypes">Prototypes</a></li>
        </ol>

    </div>

    <div class="govuk-grid-column-three-quarters">

        <!-- Summary -->
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                <h2 id="summary" class="govuk-heading-l">Summary</h2>

                <p>
                    Project summary goes here. Research aims. Timelines etc.</p>

            </div>

        </div>

        <!-- Team -->
        <div class="govuk-grid-row govuk-!-padding-top-8">

            <div class="govuk-grid-column-full">

                <h2 id="team" class="govuk-heading-l govuk-!-padding-top-8">Team</h2>

                <ul class="govuk-list">

                    {% for member in data['team'] | sort(attribute="role") %}

                    <li>
                        {% if member.email %}
                        <a href="mailto:{{ member.email }}" target="_blank">{{ member.name }}</a>
                        <p class="govuk-body-s">
                            {{ member.role }}
                        </p>
                        {% else %}
                        {{ member.name }} <br />
                        {{ member.role }}
                        {% endif %}
                    </li>

                    {% endfor %}
                </ul>

            </div>

        </div>

        <!-- Links -->
        <div class="govuk-grid-row govuk-!-padding-top-8">

            <div class="govuk-grid-column-full">

                <h2 id="links" class="govuk-heading-l govuk-!-padding-top-8">Links</h2>

                <ul class="govuk-list">
                    {% for link in data['links'] %}

                    <li>
                        <a href="{{ link.url }}" target="_blank">{{ link.title }}</a><br />
                    </li>

                    {% endfor %}
                </ul>

            </div>

        </div>

        <!-- Prototypes -->
        <div class="govuk-grid-row govuk-!-padding-top-8">

            <div class="govuk-grid-column-full">

                <h2 id="prototypes" class="govuk-heading-l govuk-!-padding-top-8">Prototypes</h2>

                {% for prototype in data['prototypes'] | sort(attribute="id") %}

                <div class="govuk-grid-row govuk-!-padding-bottom-4 govuk-!-padding-top-4">

                    <div class="govuk-grid-column-full">

                        <h3 class="govuk-heading-m">v{{ prototype.id }}</h3>

                        <p>
                            {% include "includes/logic-prototype-status.html" %}
                        </p>

                        <p>{{ prototype.desc }}</p>

                        <a href="{{ prototype.url }}" class="govuk-button">View prototype v{{ prototype.id }}</a>


                    </div>

                </div>

                <hr>

                {% endfor %}

            </div>

        </div>

    </div>

</div>

{% endblock %}
